{
  "log": {
    "_recordingName": "email/template-export/0_NaxD/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e7bfaaeb-9f4a-4d88-a8c7-d26cc1692f33"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/openidm/managed/svcacct/0c2e1478-c138-4ad6-9653-bea356376180?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1382,
            "text": "{\"_id\":\"0c2e1478-c138-4ad6-9653-bea356376180\",\"_rev\":\"a183b615-3e46-44dc-8ac1-7950d78cb0b3-7955\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1781020880295\",\"description\":\"csong@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:dataset:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:iga:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"sbHvFTOy884rz-Ck4pbiXaCrMvAwzNV5-mZSYinBjhs\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"08VYwsdmRPJCFpyONi-oWkSIOsfpBL5xAE8RU8tI5tS5YNCBJmsiNEHNl5SdKHDN3NgzonzypYuv26x2kN8NMGoSpoERqBXEz4JoAoTts8QLptE56BOWkh1CZ_y5jTDvPN38O4u79d7GyXt1403wVGRenUR37HfE8lXQCxUbSFOxthkIIkw-zsJWs0nQenFoK8XzEAI87VIYwHfHd_YCdLu01jV_jWSJwhkKjdkgw_qQ-hXt5tNww30vOgHfJ4xYJ5GeAbgfVsEFgT-K-BwK07czxcwHXlkIRLOsgUE6o31ndx127kSq5w494M4v8F_ZOR8Quw8LAitvBJTmLJwgwfpRUYzcy_oBhH4DxJHqLOvuLrCM-DexNkWmveofecVjL77hzeL4-bvvzrXJheXgt7lc9qJDwVtJDCxdF8FNcEHeGZ9fpE7lBZEdJzU1yaCLSDgcLSn2uGGh4zN2skyjy0kQzpY0bj7RC0CvrKGxpGD_Vvrm0ieKMmEHtwl43gQoj4yEHKJnTnA-xSuaClXoocZI7ca_U7guOrz-5AMjSm5sHWscl8IaAcKrd-r4nccPKzc31n_qeFa7FiAye6ucuL1Cy8oJDaTp2rkVVskAs0qoo5f0khFPzqQDG_JCmljC3LP107y0YfI69wTi6JXM5AF4xgQWW3BAcuGyGGnIJsM\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"a183b615-3e46-44dc-8ac1-7950d78cb0b3-7955\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e7bfaaeb-9f4a-4d88-a8c7-d26cc1692f33"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 184,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e7bfaaeb-9f4a-4d88-a8c7-d26cc1692f33"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ][...]
