{
  "log": {
    "_recordingName": "config-manager/delete/cors/0/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9f5671275c36a1c0090d0df26ce0e93f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            },
            {
              "name": "x-openam-username",
              "value": "<username>"
            },
            {
              "name": "x-openam-password",
              "value": "<password>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/am/json/realms/root/authenticate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 167,
            "text": "{\"tokenId\":\"<token id>\",\"successUrl\":\"/am/console\",\"realm\":\"/\"}"
          },
            {
              "httpOnly": true,
              "name": "iPlanetDirectoryPro",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "<cookie>"
            },
            {
              "httpOnly": true,
              "name": "amlbcookie",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "<cookie>"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "content-api-version",
              "value": "resource=2.1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 30,
      },
      {
        "_id": "6a3744385d3fd7416ea7089e610fa7e7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "resource=4.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tokenId\":\"<token id>\"}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "getSessionInfo"
            }
          ],
          "url": "https://platform.dev.trivir.com/am/json/realms/root/sessions/?_action=getSessionInfo"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 290,
            "text": "{\"username\":\"amadmin\",\"universalId\":\"id=amadmin,ou=user,ou=am-config\",\"realm\":\"/\",\"latestAccessTime\":\"2026-10-08T17:06:09Z\",\"maxIdleExpirationTime\":\"2026-10-08T17:36:09Z\",\"maxSessionExpirationTime\":\"2026-10-08T19:06:08Z\",\"properties\":{\"AMCtxId\":\"8ed9de90-52b0-4f9d-84f8-376fb14ff7d4-7510\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "content-api-version",
              "value": "resource=4.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 7,
      },
      {
        "_id": "6948a617c5ad17a1f5bdecfa53a107e9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://platform.dev.trivir.com/am/json/global-config/services/selfService"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 2729,
            "text": "{\"_id\":\"\",\"_rev\":\"1432122599\",\"defaults\":{\"advancedConfig\":{\"userRegistrationConfirmationUrl\":\"http://am:80/am/XUI/?realm=${realm}#register/\",\"forgottenPasswordConfirmationUrl\":\"http://am:80/am/XUI/?realm=${realm}#passwordReset/\",\"forgottenPasswordServiceConfigClass\":\"org.forgerock.openam.selfservice.config.flows.ForgottenPasswordConfigProvider\",\"userRegistrationServiceConfigClass\":\"org.forgerock.openam.selfservice.config.flows.UserRegistrationConfigProvider\",\"forgottenUsernameServiceConfigClass\":\"org.forgerock.openam.selfservice.config.flows.ForgottenUsernameConfigProvider\"},\"forgottenUsername\":{\"forgottenUsernameCaptchaEnabled\":false,\"forgottenUsernameEnabled\":false,\"forgottenUsernameTokenTTL\":300,\"forgottenUsernameKbaEnabled\":false,\"forgottenUsernameEmailUsernameEnabled\":true,\"forgottenUsernameEmailBody\":[\"en|<h2>Your username is <span style=\\\"color:blue\\\">%username%</span>.</h2>\"],\"forgottenUsernameEmailSubject\":[\"en|Forgotten username email\"],\"forgottenUsernameShowUsernameEnabled\":false},\"userRegistration\":{\"userRegistrationTokenTTL\":300,\"userRegistrationValidUserAttributes\":[\"userPassword\",\"mail\",\"givenName\",\"kbaInfo\",\"inetUserStatus\",\"sn\",\"username\"],\"userRegistrationEnabled\":false,\"userRegistrationEmailVerificationEnabled\":true,\"userRegistrationEmailBody\":[\"en|<h2>Click on this <a href=\\\"%link%\\\">link</a> to register.</h2>\"],\"userRegistrationEmailVerificationFirstEnabled\":false,\"userRegistrationEmailSubject\":[\"en|Registration email\"],\"userRegisteredDestination\":\"default\",\"userRegistrationCaptchaEnabled\":false,\"userRegistrationKbaEnabled\":false},\"forgottenPassword\":{\"forgottenPasswordEmailSubject\":[\"en|Forgotten password email\"],\"forgottenPasswordTokenTTL\":300,\"forgottenPasswordEnabled\":false,\"forgottenPasswordEmailBody\":[\"en|<h2>Click on this <a href=\\\"%link%\\\">link</a> to reset your password.</h2>\"],\"forgottenPasswordTokenPaddingLength\":450,\"forgottenPasswordEmailVerificationEnabled\":true,\"numberOfAllowedAttempts\":1,\"forgottenPasswordKbaEnabled\":false,\"forgottenPasswordCaptchaEnabled\":false,\"numberOfAttemptsEnforced\":false},\"generalConfig\":{\"minimumAnswersToDefine\":1,\"minimumAnswersToVerify\":1,\"kbaQuestions\":[\"4|en|What is your mother's maiden name?\",\"3|en|What was the name of your childhood pet?\",\"2|en|What was the model of your first car?\",\"1|en|What is the name of your favourite restaurant?\"],\"validQueryAttributes\":[\"uid\",\"mail\",\"givenName\",\"sn\"],\"captchaVerificationUrl\":\"https://www.google.com/recaptcha/api/siteverify\"},\"profileManagement\":{\"profileAttributeWhitelist\":[\"uid\",\"telephoneNumber\",\"mail\",\"kbaInfo\",\"givenName\",\"sn\",\"cn\"],\"profileProtectedUserAttributes\":[\"telephoneNumber\",\"mail\"]}},\"_type\":{\"_id\":\"selfService\",\"name\":\"User Self-Service\",\"collection\":false}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "<etag>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 370,
      },
      {
        "_id": "1e0086f799e7cc7f292a33d452cb4708",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "_action",
              "value": "nextdescendents"
            }
          ],
          "url": "https://platform.dev.trivir.com/am/json/global-config/services/selfService?_action=nextdescendents"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 13,
            "text": "{\"result\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 497,
      },
      {
        "_id": "56d72729a8c24cd7cdc0e40e5918ac48",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.0,resource=1.0"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://platform.dev.trivir.com/am/json/global-config/services/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1163,
            "text": "{\"_id\":\"\",\"_rev\":\"-1239124450\",\"quotas\":{\"denyLoginWhenRepoDown\":\"NO\",\"iplanet-am-session-enable-session-constraint\":\"OFF\",\"behaviourWhenQuotaExhausted\":\"org.forgerock.openam.session.service.DestroyNextExpiringAction\",\"quotaConstraintMaxWaitTime\":6000},\"stateless\":{\"openam-session-stateless-blacklist-cache-size\":10000,\"statelessLogoutByUser\":false,\"statelessEncryptionType\":\"DIRECT\",\"openam-session-stateless-logout-poll-interval\":60,\"statelessEncryptionAesKey\":null,\"statelessSigningType\":\"HS256\",\"openam-session-stateless-blacklist-poll-interval\":10,\"statelessCompressionType\":\"NONE\",\"statelessSigningHmacSecret\":null,\"openam-session-stateless-blacklist-purge-delay\":1,\"openam-session-stateless-enable-session-blacklisting\":false},\"general\":{\"latestAccessTimeUpdateFrequency\":60,\"timeoutHandlers\":[],\"dnRestrictionOnly\":false,\"crossUpgradeReferenceFlag\":false},\"notifications\":{\"notificationPropertyList\":[],\"propertyChangeNotifications\":\"OFF\"},\"search\":{\"sessionListRetrievalTimeout\":5,\"maxSessionListSize\":120},\"dynamic\":{\"maxIdleTime\":30,\"maxSessionTime\":120,\"quotaLimit\":5,\"maxCachingTime\":3},\"_type\":{\"_id\":\"session\",\"name\":\"Session\",\"collection\":false}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "<etag>"
            }
          ],
          "status": 200,
         [...]
