{
  "log": {
    "_recordingName": "iga/config-export/0_all_file/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d2ccb199619c4ca8a2198c052f1eedad",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/config"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 840,
            "text": "[\"G3oFAMSvpa+n+ztjj5x0bq5VP6Vq9osV2gQBA6vfbE9cDohf/G1NWq05qQvnwAkWaBeNRVIPVODZZiKUFEqfXXJ6xpmnNVvMM8RT95p6bVf4jeFW2GckDtBPvd+5mqvKID2ppAg7UKhscH38477t4zDnklasKjIXXnFUOlC+iY5fJYUSJpUhhOaHIOSxBRYw2G6rueUw2CRSELluos0txZnCUwp8y9OSS4U9aJrm1SBfguuCCKFrecYWY0Ngf/15Nc4scP8Y7DP6fvuQQpDoj0j7sZUdw75vDCq95ehOONCWvgjA88Ratmf7D82pu6VN8QBLhX1rkUw+pCUF2GdkXkf0KUv0jkLMPnqWrk9xEA/7jNBPLatK9FV0goqGnSnkaapzOrDCAdxuysVB00sKPAicK5cwLTO/vrpStTeIKDIV+WjWJK6TqOwLn/dw1nSp+18xGMWPbZ8KP3DpOepiLFzHFBzsp8ZgYifzBNrP+8YgpPVlfdsYrDKmi4pDtRskKBfYX5Oq299dq7tcOvyZP3Ur8+ZxioM4jj1TjjX7H98DkcjrNEpmzoPVnX4l+bbzB8bF9FmsNntqai1zlGODPDs4FOfYtb4uUvtf8r9RUFST6he6pXrCLSs5UoJBV3gFg0yp81slnSsMqFbxkd0J1XGZqDgY9BEmol6wXWwzw2AoMPCy4nhHE8NAHAwmkvAI+XIEBhOlukbEDn/pPiDSeTUSP7+hqscjRc9uIaPm002W6EFuV+1TZoNT3STxfrgvntA6Lbn0FPwGj5X74TDnBmPVJQUF3lnH3dOhyTmsxzxP5EwctcKgvocOBoU5nBV/Xl8B\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"57b-4Y0GYqN+wqzCPGUZjY1c+cuH300\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "bb610778-95e2-41d1-85bb-5e3ac0a6e213"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 337,
      },
      {
        "_id": "5b2ac737476109d1da0d7e7135ab5995",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/config/iga_access_request"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 268,
            "text": "{\"requireRequestJustification\":false,\"requireRejectJustification\":false,\"requireApproveJustification\":false,\"preventRequestWithViolation\":false,\"requireRequestJustificationWithViolation\":false,\"defaultApprover\":\"\",\"allowSelfApproval\":false,\"maxManualRoleMembers\":1000}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"10c-V5uknqgZCKwLDfs52wANXH1wwtI\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "e5ea61ed-cf6d-4302-8f0d-8677078c8527"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 131,
      },
      {
        "_id": "d1a6b0add63c5d88ff6b346a6ead14c9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/config/feature_recommendation"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 13,
            "text": "{\"result\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"d-JN9XGbx1zII1nUa2X6sNBTA9YGY\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "d75354cf-4a86-4b17-8eb3-7330d8d063e3"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 122,
      },
      {
        "_id": "a420faa256b47a7c9c263de6eef315af",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/config/iga_notification"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 122,
            "text": "{\"notificationPollingBatchSize\":50,\"notificationSendDelay\":1000,\"notificationRetryDelay\":60000,\"notificationMaxRetries\":3}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"7a-d7njKNdGDpz6UVL8qNw+XAavXW8\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "d9fe36f5-05d2-439e-b0d3-adff17004579"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 136,
      },
      {
        "_id": "ccfbc9a220111db7f208b6a20347e538",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/config/iga_global"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 23,
            "text": "{\"enableScoping\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"17-0Zg+gK0zwxg3L/AB2nSp3PbdQH8\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "44ca39bc-405d-4a6f-8ae8-58c9f501e552"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 202,
      },
      {
        "_id": "69f5777cac88cc76e985a1d7adcad4b3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/config/iga_ui_config"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 131,
            "text": "{\"lcmSettings\":{\"entitlement\":{\"enabled\":false},\"organization\":{\"enabled\":false},\"role\":{\"enabled\":false},\"user\":{\"enabled\":true}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"83-b42m/0InV8l6Se4Nt+lhfoa59w4\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "e3b31fee-e769-4127-83e2-5b29d8e41eec"
            }
          ],
          "status": 200,
          "statusT[...]
