{
  "log": {
    "_recordingName": "iga/config-export/0_modified-properties_all_file/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d2ccb199619c4ca8a2198c052f1eedad",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/config"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 836,
            "text": "[\"G3oFAMSvpa+n+ztjj5x0bq5VP6Vq9osV2gQBA6vfbA+cE4gnPqukR6RVLBqPGZhgB420k/wD+sFvbg2iIHqW3rY1z+fUKnmGeOqGqfd3hUcMj8M+I3GAfir9ztVcVQbpSSVF2IFCZYPr4x/3+z4Ocy5pxaoKc+EVRzUHyjfR8aukIOGSDCE0PwQxXlpgAYPltkZbDoNPDgoiD020uaU4U3hKgW95WnKpsAdN07yaKFnkQ1pSgH1GEnNBn7JEbxMBHj1L16c4iId9RuinllUl+io6QUXDIg94mnROBzYGP7N7EynQ9JICVwLnyqVZy8yvr68GiR5cx37MAm9ttDHYX3/cF/BmDPYZZb99SCFI9Eek/djKjmHfNwZV33J0JxxoGzcRQO6JtWyP9h+aI3BLm1kPohX2rUeevUHeF/HPOpo1ieskKvsSpPzhrOkyIP+KwSh+bPtU+IFLz1EXY+E6puBgPzUGEzuZJ9B+3jcGIa3P+NvGoJcxXXAP1W6QoFxgf7WEbn91rdly6fCn0ahbmTePUxzEcezZ5Fiz//E9EGFep1GyZR5Md8ojvu+2A9P89JlnZk8t7tUysxyrtLGDQzzHuLK+LlL7X/LfKBDV5PmFrquecctKjpRg0BVewSBT6vlWSecKA6pVfGR3QnVcJioOBn2E6QYv2C62mWEwFBh4WXG8o4lhIA4GE0m4hWI5AoPJpLdGEN526R4Qad4ciZ/fUNXjkaJnt5Da6OkmC3uQK1P7lNnhWjdJvB/uizcYn5ZcSgTf4LFyPxzmvMNYb0lBQX7Wcfe0+XIOnYgXiZaJo1YYzO8RgMHEHOmKP6+v\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"57b-8DNDTs3BDX/tiO+B4teDy5IHP04\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "583920c0-43c9-4185-9132-1dd3bd5ef05a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 313,
      },
      {
        "_id": "5b2ac737476109d1da0d7e7135ab5995",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/config/iga_access_request"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 268,
            "text": "{\"requireRequestJustification\":false,\"requireRejectJustification\":false,\"requireApproveJustification\":false,\"preventRequestWithViolation\":false,\"requireRequestJustificationWithViolation\":false,\"defaultApprover\":\"\",\"allowSelfApproval\":false,\"maxManualRoleMembers\":1000}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"10c-V5uknqgZCKwLDfs52wANXH1wwtI\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "c3df3584-e1ed-4c8a-90e7-cae576b7d3d4"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 105,
      },
      {
        "_id": "ccfbc9a220111db7f208b6a20347e538",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/config/iga_global"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 23,
            "text": "{\"enableScoping\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"17-0Zg+gK0zwxg3L/AB2nSp3PbdQH8\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "b7c6afa7-f0e2-47d5-a90c-52ca30bf960a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 118,
      },
      {
        "_id": "69f5777cac88cc76e985a1d7adcad4b3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/config/iga_ui_config"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 131,
            "text": "{\"lcmSettings\":{\"entitlement\":{\"enabled\":false},\"organization\":{\"enabled\":false},\"role\":{\"enabled\":false},\"user\":{\"enabled\":true}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"83-b42m/0InV8l6Se4Nt+lhfoa59w4\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "14299e0c-b991-45c4-ab82-6c50ada74210"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 110,
      },
      {
        "_id": "d1a6b0add63c5d88ff6b346a6ead14c9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/config/feature_recommendation"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 13,
            "text": "{\"result\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"d-JN9XGbx1zII1nUa2X6sNBTA9YGY\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "95fdae30-e345-48d2-b0e2-4902a6da4199"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 107,
      },
      {
        "_id": "a420faa256b47a7c9c263de6eef315af",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/config/iga_notification"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 122,
            "text": "{\"notificationPollingBatchSize\":50,\"notificationSendDelay\":1000,\"notificationRetryDelay\":60000,\"notificationMaxRetries\":3}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"7a-d7njKNdGDpz6UVL8qNw+XAavXW8\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "8bf3dcea-c823-439d-87ae-30ff592477c8"
            }
          ],
          "status": 200,
          "statusText": "OK"
       [...]
