{
  "log": {
    "_recordingName": "config-manager/push/connector-mappings/0_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "aa9c07b9149bf58084f3e7e4ea1984f9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1a3f1067-89ef-47f3-ab10-afd5beb42bad"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"sync/MPIUser_AlphaUser\",\"consentRequired\":false,\"displayName\":\"MPIUser_AlphaUser\",\"icon\":null,\"name\":\"MPIUser_AlphaUser\",\"policies\":[{\"action\":\"EXCEPTION\",\"situation\":\"AMBIGUOUS\"},{\"action\":\"EXCEPTION\",\"situation\":\"SOURCE_MISSING\"},{\"action\":\"CREATE\",\"situation\":\"MISSING\"},{\"action\":\"EXCEPTION\",\"situation\":\"FOUND_ALREADY_LINKED\"},{\"action\":\"DELETE\",\"situation\":\"UNQUALIFIED\"},{\"action\":\"EXCEPTION\",\"situation\":\"UNASSIGNED\"},{\"action\":\"EXCEPTION\",\"situation\":\"LINK_ONLY\"},{\"action\":\"IGNORE\",\"situation\":\"TARGET_IGNORED\"},{\"action\":\"IGNORE\",\"situation\":\"SOURCE_IGNORED\"},{\"action\":\"IGNORE\",\"situation\":\"ALL_GONE\"},{\"action\":\"UPDATE\",\"situation\":\"CONFIRMED\"},{\"action\":\"UPDATE\",\"situation\":\"FOUND\"},{\"action\":\"CREATE\",\"situation\":\"ABSENT\"}],\"properties\":[{\"source\":\"firstName\",\"target\":\"givenName\"},{\"source\":\"\",\"target\":\"mail\",\"transform\":{\"globals\":{},\"source\":\"source.firstName.toLowerCase() + \\\".\\\" + source.lastName.toLowerCase() + \\\"@pmi.example.com\\\"\",\"type\":\"text/javascript\"}},{\"source\":\"lastName\",\"target\":\"sn\"},{\"source\":\"\",\"target\":\"userName\",\"transform\":{\"globals\":{},\"source\":\"source.firstName.toLowerCase() + \\\".\\\" + source.lastName.toLowerCase()\",\"type\":\"text/javascript\"}},{\"source\":\"knownAs\",\"target\":\"description\"}],\"source\":\"system/PMI_IDOC/__ACCOUNT__\",\"syncAfter\":[\"systemPmi_csv_connector__ACCOUNT___managedAlpha_u\"],\"target\":\"managed/alpha_user\"}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/sync/MPIUser_AlphaUser"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1377,
            "text": "{\"_id\":\"sync/MPIUser_AlphaUser\",\"consentRequired\":false,\"displayName\":\"MPIUser_AlphaUser\",\"icon\":null,\"name\":\"MPIUser_AlphaUser\",\"policies\":[{\"action\":\"EXCEPTION\",\"situation\":\"AMBIGUOUS\"},{\"action\":\"EXCEPTION\",\"situation\":\"SOURCE_MISSING\"},{\"action\":\"CREATE\",\"situation\":\"MISSING\"},{\"action\":\"EXCEPTION\",\"situation\":\"FOUND_ALREADY_LINKED\"},{\"action\":\"DELETE\",\"situation\":\"UNQUALIFIED\"},{\"action\":\"EXCEPTION\",\"[...]
