{
  "log": {
    "_recordingName": "idm/import/0_f_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1e97226c880271ed69a92786c1c32df5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-47cab38b-9d65-467e-bed6-53c1587d9a6a"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"endpoint/testEndpoint\",\"description\":\"\",\"globalsObject\":\"\\\"  {\\\\n    \\\\\\\"request\\\\\\\": {\\\\n      \\\\\\\"method\\\\\\\": \\\\\\\"create\\\\\\\"\\\\n    }\\\\n  }\\\"\",\"source\":\"  (function () {\\n    if (request.method === 'create') {\\n      // POST\\n      return {};\\n    } else if (request.method === 'read') {\\n      // GET\\n      return {};\\n    } else if (request.method === 'update') {\\n      // PUT\\n      return {};\\n    } else if (request.method === 'patch') {\\n      return {};\\n    } else if (request.method === 'delete') {\\n      return {};\\n    }\\n    throw { code: 500, message: 'Unknown error' };\\n  }());\\n\",\"type\":\"text/javascript\"}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/endpoint/testEndpoint"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 633,
            "text": "{\"_id\":\"endpoint/testEndpoint\",\"description\":\"\",\"globalsObject\":\"\\\"  {\\\\n    \\\\\\\"request\\\\\\\": {\\\\n      \\\\\\\"method\\\\\\\": \\\\\\\"create\\\\\\\"\\\\n    }\\\\n  }\\\"\",\"source\":\"  (function () {\\n    if (request.method === 'create') {\\n      // POST\\n      return {};\\n    } else if (request.method === 'read') {\\n      // GET\\n      return {};\\n    } else if (request.method === 'update') {\\n      // PUT\\n      return {};\\n    } else if (request.method === 'patch') {\\n      return {};\\n    } else if (request.method === 'delete') {\\n      return {};\\n    }\\n    throw { code: 500, message: 'Unknown error' };\\n  }());\\n\",\"type\":\"text/javascript\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 22,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
