{
  "log": {
    "_recordingName": "iga/request-form-import/0_f_no-deps/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b33f46fbc448eb328cacbb6aac5c0043",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"categories\":{\"applicationType\":null,\"objectType\":null,\"operation\":\"create\",\"requestType\":\"47b0e373-a9df-477d-986f-4aa64317ebed\"},\"description\":\"\",\"form\":{},\"id\":\"05b1bc14-6406-49a7-933a-97868f9e567c\",\"metadata\":{},\"name\":\"test\",\"type\":\"request\"}"
          },
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/requestForms/05b1bc14-6406-49a7-933a-97868f9e567c"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 343,
            "text": "{\"name\":\"test\",\"type\":\"request\",\"description\":\"\",\"categories\":{\"applicationType\":null,\"objectType\":null,\"operation\":\"create\",\"requestType\":\"47b0e373-a9df-477d-986f-4aa64317ebed\"},\"form\":{},\"id\":\"05b1bc14-6406-49a7-933a-97868f9e567c\",\"_rev\":2,\"metadata\":{\"modifiedDate\":\"2026-05-08T16:57:21.501Z\",\"createdDate\":\"2026-05-07T16:23:51.51674347Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"157-TsTNA6Pk4VpbHzHXtoTylmVCxDo\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "658cf319-f9d0-4c87-8d60-7a9a011112c7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1090,
      },
      {
        "_id": "526e2e28e7f2b8ec60424dfa0cb0715a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "formId eq \"05b1bc14-6406-49a7-933a-97868f9e567c\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/requestFormAssignments?_queryFilter=formId%20eq%20%2205b1bc14-6406-49a7-933a-97868f9e567c%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 44,
            "text": "{\"totalCount\":0,\"resultCount\":0,\"result\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2c-iotyA6VuHDnFn3by3ivfMq6YeCA\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "06b88e6f-36b2-4815-90be-4751d2a92a6d"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 157,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
