{
  "log": {
    "_recordingName": "iga/certification-import/0_i_f/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0fd2e2d9b8e37b13766171ceecc89035",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"allowBulkCertify\":false,\"allowPartialSignoff\":false,\"allowSelfCertification\":true,\"assignmentNotification\":null,\"assignmentNotificationIncludeManager\":false,\"certificationType\":\"entitlement\",\"defaultCertifierId\":null,\"description\":\"Jim's test to see if a resulting artifact of the review decisions can be created.\",\"enableForward\":true,\"enableReassign\":true,\"escalationFrequency\":null,\"escalationNotification\":null,\"escalationOwner\":null,\"events\":{},\"exceptionDuration\":0,\"excludeConditionalAccess\":true,\"excludeRoleBasedAccess\":true,\"expirationAction\":\"certify\",\"expirationActionDelay\":0,\"expirationNotification\":null,\"expirationReassignee\":null,\"finalizeRule\":\"\",\"id\":\"855918e4-06c4-4393-b1da-61a20e23e29a\",\"initializeRule\":\"\",\"isEventBased\":false,\"metadata\":{},\"name\":\"Sample Access Review (copy)\",\"ownerId\":\"managed/user/9de92b26-e91e-44b7-ac81-7ae1c6adf9ad\",\"ownerInfo\":{\"givenName\":\"csv\",\"id\":\"9de92b26-e91e-44b7-ac81-7ae1c6adf9ad\",\"mail\":\"1csv@example.com\",\"sn\":\"one\",\"userName\":\"1csv\"},\"reassignNotification\":null,\"reassignPermissions\":{\"certify\":true,\"claim\":true,\"comment\":true,\"delegate\":true,\"exception\":true,\"forward\":true,\"reassign\":true,\"reset\":true,\"revoke\":true,\"save\":true,\"signoff\":true},\"remediationDelay\":0,\"remediationRule\":null,\"reminderFrequency\":0,\"reminderNotification\":null,\"requireJustification\":{\"exceptionAllowed\":false,\"revoke\":false},\"schedule\":\"\",\"selfCertificationRule\":\"all\",\"skipInactiveCertifiers\":false,\"stageDuration\":14,\"stages\":[{\"certifierId\":\"managed/user/dadb619a-897c-4333-8edc-383b73b25b24\",\"certifierInfo\":{\"givenName\":\"Jim\",\"id\":\"dadb619a-897c-4333-8edc-383b73b25b24\",\"mail\":\"jmontgomery@example.com\",\"sn\":\"Montgomery\",\"userName\":\"Jmontgom\"},\"certifierPath\":null,\"certifierScript\":null,\"certifierType\":\"user\"}],\"stagingEnabled\":true,\"status\":\"pending\",\"targetFilter\":{\"application\":{\"operand\":[{\"operand\":{\"targetName\":\"id\",\"targetValue\":\"23b1fbc6-432e-4b8a-bb4e-bbb629f30157\"},\"operator\":\"EQUALS\"}],\"operator\":\"OR\"},\"decision\":{\"operand\":[],\"operator\":\"ALL\"},\"entitlement\":{\"operand\":[],\"operator\":\"ALL\"},\"memberOfOrg\":[],\"type\":[\"entitlementGrant\",\"ResourceGrant\"],\"user\":{\"operand\":[],\"operator\":\"ALL\"}},\"uiConfig\":{\"columnConfig\":{\"entitlements\":[\"user.user\",\"application.application\",\"entitlement.entitlement\",\"account.account\",\"review.flags\",\"review.comments\"]}}}"
          },
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/certification/template/855918e4-06c4-4393-b1da-61a20e23e29a"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 80,
            "text": "{\"message\":\"Cannot find template with id 855918e4-06c4-4393-b1da-61a20e23e29a.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"50-iOTKM2+98mOo06CFXDzwSyBc9Cg\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "5b275ef4-979d-4f2c-996b-48918cd555fc"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 156,
      },
      {
        "_id": "56957f6ed12160b464e1f498196e760c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"[...]
