{
  "log": {
    "_recordingName": "iga/glossary-delete/0_n/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "14f343e692b79cad43cbdaea0f07273d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"targetFilter\":{\"operator\":\"AND\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"name\",\"targetValue\":\"testOrg\"}}]}}"
          },
          "queryString": [
            {
              "name": "pageSize",
              "value": "10000"
            },
            {
              "name": "pageNumber",
              "value": "0"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/glossary/schema/search?pageSize=10000&pageNumber=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 563,
            "text": "{\"result\":[{\"allowedValues\":[],\"description\":\"Test Organization Description\",\"displayName\":\"Test Organization Display Name\",\"enumeratedValues\":[],\"id\":\"b1c7b6ee-5508-4314-9b86-8b43a4a91aed\",\"isMultiValue\":false,\"managedObjectType\":\"/openidm/managed/organization\",\"name\":\"testOrg\",\"objectType\":\"/openidm/managed/assignment\",\"searchable\":false,\"type\":\"managedObject\",\"metadata\":{\"modifiedDate\":\"2026-05-22T16:12:40.87043313Z\",\"createdDate\":\"2026-05-22T16:12:40.870430161Z\"}}],\"searchAfterKey\":[\"b1c7b6ee-5508-4314-9b86-8b43a4a91aed\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"233-iZPBwcG5/J5fd73Jr/mv5JUQ8Ws\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "94ef3d36-8ae2-423b-8054-2b39be6e1dc7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 247,
      },
      {
        "_id": "5dd9428f6b54ed1b0832412c1d14c8a5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/glossary/sc[...]
