{
  "log": {
    "_recordingName": "iga/request-type-import/0_all_file_no-deps/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e08bc81022db9a3f287d1806f4dec74e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"custom\":true,\"displayName\":\"phhType\",\"id\":\"0ece99b4-5039-4bd6-b31c-de14bcf45f11\",\"metadata\":{},\"notModifiableProperties\":[],\"schemas\":{\"common\":[{\"_meta\":{\"displayName\":\"commonRequest\",\"properties\":{\"blob\":{\"isInternal\":true,\"isRequired\":false},\"context\":{\"display\":{\"description\":\"The context of the request\",\"isVisible\":true,\"name\":\"Context\",\"order\":1},\"isInternal\":true,\"isMultiValue\":false,\"isRequired\":false},\"endDate\":{\"display\":{\"description\":\"End date of the grant\",\"isVisible\":true,\"name\":\"End date\",\"order\":8},\"isInternal\":true,\"isRequired\":false},\"expiryDate\":{\"display\":{\"description\":\"User provided date on which the request will cancel\",\"isVisible\":true,\"name\":\"Request expiration date\",\"order\":7},\"isInternal\":true,\"isRequired\":false},\"externalRequestId\":{\"display\":{\"description\":\"The external ID for the request\",\"isVisible\":true,\"name\":\"External Request ID\",\"order\":4},\"isChangable\":false,\"isInternal\":true,\"isRequired\":false},\"isDraft\":{\"isInternal\":true,\"isRequired\":false},\"justification\":{\"display\":{\"description\":\"The reason for the request\",\"isVisible\":true,\"name\":\"Justification\",\"order\":3},\"isInternal\":true,\"isRequired\":false},\"priority\":{\"display\":{\"description\":\"The priority of the reqeust\",\"isVisible\":true,\"name\":\"Priority\",\"order\":6},\"isRequired\":false,\"text\":{\"defaultValue\":\"low\"}},\"requestIdPrefix\":{\"display\":{\"description\":\"Prefix for the request ID\",\"isVisible\":true,\"name\":\"Request ID prefix\",\"order\":5},\"isInternal\":true,\"isRequired\":false},\"startDate\":{\"display\":{\"description\":\"Start date of the grant\",\"isVisible\":true,\"name\":\"Start date\",\"order\":8},\"isInternal\":true,\"isRequired\":false},\"workflowId\":{\"display\":{\"description\":\"The ID key of the BPMN workflow\",\"isVisible\":true,\"name\":\"BPMN workflow ID\",\"order\":7},\"isChangable\":false,\"isInternal\":true,\"isRequired\":false}},\"type\":\"system\"},\"properties\":{\"blob\":{\"type\":\"object\"},\"context\":{\"type\":\"object\"},\"endDate\":{\"type\":\"text\"},\"expiryDate\":{\"type\":\"text\"},\"externalRequestId\":{\"type\":\"text\"},\"isDraft\":{\"type\":\"boolean\"},\"justification\":{\"type\":\"text\"},\"priority\":{\"type\":\"text\"},\"requestIdPrefix\":{\"type\":\"text\"},\"startDate\":{\"type\":\"text\"},\"workflowId\":{\"type\":\"text\"}}}],\"custom\":[{\"_meta\":{\"properties\":{\"phhText\":{\"display\":{\"isVisible\":true,\"name\":\"phhText\",\"order\":1},\"isInternal\":false,\"isMultiValue\":false,\"isRequired\":true}},\"type\":\"system\"},\"properties\":{\"phhText\":{\"type\":\"text\"}}}]},\"workflow\":{\"id\":\"phhFlow\"}}"
          },
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/requestTypes"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 992,
            "text": "[\"G9sJAMT/n86fVs6dSU0Yv5iT8PJDBYK0zv2vtd53axy582TSXMDnC2KSSFTxhjdepwdCSYSEjqW9enMJASLetm1sh27K7oSIfkEcPRH+NzdyThCoq+ppUxM4tIJAiwoaj/Ne1m91x1kvV4Ms77aLTFG7lxdlr1+22+AwNl5bpUst8xndeVuTj5oCxOc3RygqmssAsUNh53NrID53+J1TlBA7xE1NEAibEGkODqVDPZOYsFTsgf7Y/CA4OlAEBbEd/u3/9yp1IaO2BmIHHR7ILbQnBVHKWSAOHc5NJG/kzOoaxA5G08ILWa9x6PCig85n5Cj+S/0BiC6H6logWCtdj6dpVLxVBmtYaf0ERIY83kJKHJ4nG3bnXOEcp8NhJc2/xEGPNGAPHesIseG47PzIAtcewzyanR+ZQdefzbm681Tq9c7gaIEzwmp5lnAd+4hA6+g0Oz9aXw8djrwsI8Bc4khoNqUMBoTvNpYudh2wsvlsDHm/8ORoESISR6Q1av5h00svcrYgCMzsij/PotZ+cyQjmWaEztwAgVBTLsuUjERzx2HjOZBnP9AKKAnnmTVsXh4o4eBOJZSprwQbxJwjWJV1XCZz6HC9mEXtCjvahw5FW1qxZDsWhEhuPCz/s1bWT8uZXdXQxsHd9Q3TMIOD67B5fsSmxB5VIniZ+5mYS5JcyWOUPjJeOI5ESUaY//fS5L29NArX6R4bteByht1F5DObr06WUmplqMkCHlpled3jTGlUt5M5jO69V27tjKRBvtKV1eQJnWBZCUll1eYTKu7X8F6HSOWWDq2MsM4O9jWZx/qKKX3zZx3zP9t+ja/zdVU9AZYJWJ+oiLlcwsPSTdoprXiCbNoqTRhGPsxjQk9E9EyQCFXL96f07VCgfVBBDJxU1C6OX0/LtNQzpyiVNJ+fzaE3f4ROqzPIWv2s3Xlqj0WrI3rDRnfY+wBHhzDmB39vJLoj0Ro3Wt3uqN8bjPsfSAk=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"9dc-57WBzRv2pD4tArP6am9L5HuOEEg\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "0e35a78b-d201-499a-8ee5-49009e3aef39"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2008,
      },
      {
        "_id": "86e6b81d023083ba9337983e96e533ca",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/requestTypes/16356e2b-b98c-474c-98e3-e69d49cde401"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 347,
            "text": "{\"displayName\":\"test_request_type_4\",\"description\":\"This is a test request type\",\"id\":\"16356e2b-b98c-474c-98e3-e69d49cde401\",\"notModifiableProperties\":[],\"workflow\":{},\"schemas\":{},\"validation\":{},\"_rev\":6,\"customValidation\":null,\"custom\":false,\"metadata\":{\"modifiedDate\":\"2026-05-12T18:54:34.746Z\",\"createdDate\":\"2026-04-27T19:39:48.677638752Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"15b-MGtskFok2n/oC5m27yPfZpH5g4o\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "79bd11d2-15b1-4d03-a9e7-21d3f297bdf4"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 178,
      },
      {
        "_id": "0f23b8ddb3e4fa0e43776eb8a8bb1a22",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operation\":\"replace\",\"field\":\"/customValidation\",\"value\":null},{\"operation\":\"remove\",\"field\":\"/schemas/custom\"},{\"operation\":\"replace\",\"field\":\"/custom\",\"value\":false}]"
          },
          "queryString": [
            {
              "name": "_useLowLevelApi",
              "value": "true"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/requestTypes/16356e2b-b98c-474c-98e3-e69d49cde401?_useLowLevelApi=true"
        },
        "response": {
 [...]
