{
  "log": {
    "_recordingName": "iga/certification-import/0_n_f/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cab8bf209cf3863c0c791769d6145dda",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"allowBulkCertify\":false,\"allowPartialSignoff\":false,\"allowSelfCertification\":true,\"assignmentNotification\":null,\"assignmentNotificationIncludeManager\":false,\"certificationType\":\"entitlement\",\"defaultCertifierId\":null,\"description\":\"Jim's test to see if a resulting artifact of the review decisions can be created.\",\"enableForward\":true,\"enableReassign\":true,\"escalationFrequency\":null,\"escalationNotification\":null,\"escalationOwner\":null,\"events\":{},\"exceptionDuration\":0,\"excludeConditionalAccess\":true,\"excludeRoleBasedAccess\":true,\"expirationAction\":\"certify\",\"expirationActionDelay\":0,\"expirationNotification\":null,\"expirationReassignee\":null,\"finalizeRule\":\"\",\"id\":\"08cc0de9-f725-4af0-abf6-9c801b6e8e44\",\"initializeRule\":\"\",\"isEventBased\":false,\"metadata\":{},\"name\":\"Sample Access Review\",\"ownerId\":\"managed/user/9de92b26-e91e-44b7-ac81-7ae1c6adf9ad\",\"ownerInfo\":{\"givenName\":\"csv\",\"id\":\"9de92b26-e91e-44b7-ac81-7ae1c6adf9ad\",\"mail\":\"1csv@example.com\",\"sn\":\"one\",\"userName\":\"1csv\"},\"reassignNotification\":null,\"reassignPermissions\":{\"certify\":true,\"claim\":true,\"comment\":true,\"delegate\":true,\"exception\":true,\"forward\":true,\"reassign\":true,\"reset\":true,\"revoke\":true,\"save\":true,\"signoff\":true},\"remediationDelay\":0,\"remediationRule\":null,\"reminderFrequency\":0,\"reminderNotification\":null,\"requireJustification\":{\"exceptionAllowed\":false,\"revoke\":false},\"schedule\":null,\"scheduleId\":null,\"selfCertificationRule\":\"all\",\"skipInactiveCertifiers\":false,\"stageDuration\":14,\"stages\":[{\"certifierId\":\"managed/user/dadb619a-897c-4333-8edc-383b73b25b24\",\"certifierInfo\":{\"givenName\":\"Jim\",\"id\":\"dadb619a-897c-4333-8edc-383b73b25b24\",\"mail\":\"jmontgomery@example.com\",\"sn\":\"Montgomery\",\"userName\":\"Jmontgom\"},\"certifierPath\":null,\"certifierScript\":null,\"certifierType\":\"user\"}],\"stagingEnabled\":true,\"status\":\"active\",\"targetFilter\":{\"application\":{\"operand\":[{\"operand\":{\"targetName\":\"id\",\"targetValue\":\"23b1fbc6-432e-4b8a-bb4e-bbb629f30157\"},\"operator\":\"EQUALS\"}],\"operator\":\"OR\"},\"decision\":{\"operand\":[],\"operator\":\"ALL\"},\"entitlement\":{\"operand\":[],\"operator\":\"ALL\"},\"memberOfOrg\":[],\"type\":[\"entitlementGrant\",\"ResourceGrant\"],\"user\":{\"operand\":[],\"operator\":\"ALL\"}},\"uiConfig\":{\"columnConfig\":{\"entitlements\":[\"user.user\",\"application.application\",\"entitlement.entitlement\",\"account.account\",\"review.flags\",\"review.comments\"]}}}"
          },
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/certification/template/08cc0de9-f725-4af0-abf6-9c801b6e8e44"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 80,
            "text": "{\"message\":\"Cannot find template with id 08cc0de9-f725-4af0-abf6-9c801b6e8e44.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"50-EcZiofTKzZcDJWETztETrL68Kzo\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "1e98a878-7d18-4293-af8e-ac230fec4618"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 164,
      },
      {
        "_id": "c8c0524ad868285f35315272013d9234",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"[...]
