{
  "log": {
    "_recordingName": "iga/glossary-import/0_all-separate_IN_directory/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fc9027673d363740964d950ca7a339f4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"allowedValues\":[],\"description\":\"custom attribute 1\",\"displayName\":\"Custom Attribute 6\",\"enumeratedValues\":[],\"id\":\"021ed7cf-116b-4003-9a63-a82431e44c8e\",\"isInternal\":true,\"isMultiValue\":false,\"metadata\":{\"createdDate\":\"2025-10-27T18:13:34.91522564Z\",\"modifiedDate\":\"2026-05-15T21:59:35.768Z\"},\"name\":\"customAttribute6\",\"objectType\":\"/iga/governance/account\",\"searchable\":true,\"type\":\"string\"}"
          },
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/glossary/schema/021ed7cf-116b-4003-9a63-a82431e44c8e"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 294,
            "text": "{\"allowedValues\":[],\"description\":\"custom attribute 1\",\"displayName\":\"Custom Attribute 6\",\"enumeratedValues\":[],\"id\":\"021ed7cf-116b-4003-9a63-a82431e44c8e\",\"isInternal\":true,\"isMultiValue\":false,\"name\":\"customAttribute6\",\"objectType\":\"/iga/governance/account\",\"searchable\":true,\"type\":\"string\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"126-lj/cIVLQskbHQwDQD7Cua3/47qI\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "115bde90-147f-4563-aa68-d0aac554ede7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 836,
      },
      {
        "_id": "51aa3770b6477e278fe7f23a951820d8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"allowedValues\":[],\"description\":\"Can the role be requested\",\"displayName\":\"Requestable\",\"id\":\"0806c0c5-a6e9-4ec8-8a36-830f217637b3\",\"isIndexed\":true,\"isInternal\":true,\"isMultiValue\":false,\"managedObjectType\":null,\"metadata\":{\"createdDate\":\"2025-10-27T18:26:04.308367768Z\",\"modifiedDate\":\"2026-05-15T21:59:36.939Z\"},\"name\":\"requestable\",\"objectType\":\"/openidm/managed/role\",\"searchable\":true,\"type\":\"boolean\"}"
          },
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/glossary/schema/0806c0c5-a6e9-4ec8-8a36-830f217637b3"
        },
        "response": {
          "content": {
            "mimeType": "application/json; cha[...]
