{
  "log": {
    "_recordingName": "config-manager/delete/locales/0_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3ef8c59ca50189801307f357c1416cf9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "_id sw 'uilocale'"
            }
          ],
          "url": "https://platform.dev.trivir.com/openidm/config?_queryFilter=_id%20sw%20%27uilocale%27"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1393,
            "text": "{\"result\":[{\"_id\":\"uilocale/fr\",\"admin\":{\"overrides\":{\"AppLogoURI\":\"URI du logo de l’application\",\"EmailAddress\":\"Adresse e-mail\",\"Name\":\"Nom\",\"Owners\":\"Les propriétaires\"},\"sideMenu\":{\"securityQuestions\":\"Questions de sécurité\"}},\"enduser\":{\"overrides\":{\"FirstName\":\"Prénom\",\"LastName\":\"Nom de famille\"},\"pages\":{\"dashboard\":{\"widgets\":{\"welcome\":{\"greeting\":\"Bonjour\"}}}}},\"login\":{\"login\":{\"next\":\"Suivant\"},\"overrides\":{\"Password\":\"Mot de passe\",\"UnabletoresumesessionItmayhaveexpired\":\"Impossible de reprendre la session. Elle a peut-être expiré.\",\"UserName\":\"Nom d'utilisateur\"}},\"shared\":{\"sideMenu\":{\"dashboard\":\"Tableau de bord\"}}},{\"_id\":\"uilocale/ko\",\"admin\":{\"overrides\":{\"AppLogoURI\":\"앱 로고 URI\",\"EmailAddress\":\"이메일 주소\",\"Name\":\"이름\",\"Owners\":\"소유자\"},\"sideMenu\":{\"securityQuestions\":\"보안 질문\"}},\"enduser\":{\"overrides\":{\"FirstName\":\"이름\",\"LastName\":\"성\"},\"pages\":{\"dashboard\":{\"widgets\":{\"welcome\":{\"greeting\":\"안녕하세요\"}}}}},\"login\":{\"login\":{\"next\":\"다음\"},\"overrides\":{\"Password\":\"비밀번호\",\"UnabletoresumesessionItmayhaveexpired\":\"세션을 재개할 수 없습니다. 세션이 만료되었을 수 있습니다.\",\"UserName\":\"사용자 이름\"}},\"shared\":{\"sideMenu\":{\"dashboard\":\"대시보드\"}}}],\"resultCount\":2,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"EXACT\",\"totalPagedResults\":2,\"remainingPagedResults\":-1}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 30,
      },
      {
        "_id": "e3818f261d370a056e6755ba926b4e43",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELE[...]
