{
  "log": {
    "_recordingName": "iga/config-export/0_no-metadata_config-key_f/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5b2ac737476109d1da0d7e7135ab5995",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/config/iga_access_request"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 268,
            "text": "{\"requireRequestJustification\":false,\"requireRejectJustification\":false,\"requireApproveJustification\":false,\"preventRequestWithViolation\":false,\"requireRequestJustificationWithViolation\":false,\"defaultApprover\":\"\",\"allowSelfApproval\":false,\"maxManualRoleMembers\":1000}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"10c-V5uknqgZCKwLDfs52wANXH1wwtI\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "4e41db45-b07b-4bdc-8fc5-2b6cd800389c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 247,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
