{
  "log": {
<<<<<<<< HEAD:test/e2e/mocks/config-manager_4167095917/push_2272264157/direct-control-apply_1424356973/0_890022063/openidm_3290118515/recording.har
    "_recordingName": "dcc/session-apply/0/openidm",
|||||||| parent of 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/authz-policies_3151337724/0_D_p_r_3371708554/openidm_3290118515/recording.har
    "_recordingName": "config-manager/export/authz-policies/0_D_p_r/openidm",
========
    "_recordingName": "config-manager/pull/secret-mappings/0_directory/openidm",
>>>>>>>> 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/secret-mappings_2964824403/0_directory_3082535603/openidm_3290118515/recording.har
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
<<<<<<<< HEAD:test/e2e/mocks/config-manager_4167095917/push_2272264157/direct-control-apply_1424356973/0_890022063/openidm_3290118515/recording.har
              "value": "@rockcarver/frodo-lib/4.0.0-25"
|||||||| parent of 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/authz-policies_3151337724/0_D_p_r_3371708554/openidm_3290118515/recording.har
              "value": "@rockcarver/frodo-l[...]
