{
  "log": {
    "_recordingName": "iga/events-describe/0_event-id/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5db3f52304de56cb46e0270e32309269",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/event/07736c3e-f879-4024-988b-8a640d5c1bf9"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 858,
            "text": "{\"action\":{\"name\":\"phhBirthrightRolesRequiringApproval\",\"parameters\":{\"roleNames\":\"phh-role-other-risk\"},\"type\":\"orchestration\"},\"condition\":{\"filter\":{\"and\":[{\"not_contains\":{\"in_string\":\"user.before.description\",\"search_string\":{\"literal\":\"teacher\"}}},{\"contains\":{\"in_string\":\"user.after.description\",\"search_string\":{\"literal\":\"teacher\"}}}]},\"version\":\"v2\"},\"description\":\"Teacher birthright role approval\",\"entityType\":\"user\",\"id\":\"07736c3e-f879-4024-988b-8a640d5c1bf9\",\"mutationType\":\"update\",\"name\":\"phh-teacher-birthright-role-approval\",\"owners\":[{\"givenName\":\"Parent\",\"id\":\"managed/user/6b21c283-d491-4fd9-8322-898c171c7018\",\"mail\":\"pholderness+poadmin@trivir.com\",\"sn\":\"Admin\",\"userName\":\"phh-parent-org-admin\"}],\"status\":\"active\",\"_rev\":1,\"metadata\":{\"modifiedDate\":\"2026-05-19T17:00:14.113642438Z\",\"createdDate\":\"2026-05-19T17:00:14.113641618Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"35a-NkFsCU+aPNFBtsTolf323JBuJIs\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "31722fcf-e8b3-4827-94f4-e254ec58d063"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 238,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
