{
  "log": {
    "_recordingName": "mapping/export/0_AD_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "de3566e649dc89e93a6365b0fdaecd4e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-219214b1-4807-4046-bcb9-4a836f3f13ea"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 62,
            "text": "{\"code\":401,\"reason\":\"Unauthorized\",\"message\":\"Access Denied\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 12,
      },
      {
        "_id": "3f3b03432a833cfcbe27438276bb566b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-219214b1-4807-4046-bcb9-4a836f3f13ea"
            },
            {
              "name": "accept-api-version",
              "value": "resource=2.0, protocol=1.0"
            },
            {
              "name": "x-openam-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openam-password",
              "value": "openidm-admin"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/json/realms/root/authenticate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 62,
            "text": "{\"code\":401,\"reason\":\"Unauthorized\",\"message\":\"Access Denied\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 3,
      },
      {
        "_id": "4c1fef66c916c8940b0315dddc564b06",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-219214b1-4807-4046-bcb9-4a836f3f13ea"
            },
            {
              "name": "x-openidm-username",
              "value": "openidm-admin"
            },
            {
              "name": "x-openidm-password",
              "value": "openidm-admin"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "http://openidm-frodo-dev.classic.com:9080/openidm/config/sync"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json;charset=utf-8",
            "size": 619,
            "text": "[\"H4sIAAAAAAAA/w==\",\"7ZVBb4IwFMe/S88m3rmhIiHDkoEczGJIhUpqoGVtMWPG7752qHGbhuLcToZwaN+f/+uD93vsQEIyYAHR0BQMQImqitBcAOtlByTiOZYqWCKKcpwNOSuwEglW8xSf7TOeI0rekSSMqjhF5Vk0OAsmh72wNUoZFZjKEL/WhGN1jDUqBB4AogLAonVRDEBGRFWgBpp6VpxVmEuCdQ1LtWYFSdvVDqD084gWsKMFHOtSiKzRcW8UOXAO9oMune8nbgAdA+Vs5LlxEEfd0nEAp144cybd0mkQQ1NZYvuhY08Wie/BJxNzrUsC6C+6pTMvijzodgujIA7HTuK5MAhNznDQG/vP7dB15ub+MbSVswvNt[...]
