{
  "log": {
    "_recordingName": "iga/scope-import/0_af/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "af55958a3898b129bc68978def6db818",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/scope?_queryFilter=true&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 760,
            "text": "[\"GykGAMRyafX6juqNLRxS/y7EwOD2HpINc9Ce1cpi4mZA3kU4F+ZZ1mVjYxeuYYHl6bI0i2D/+Z8/kL+tOXVvygDpAZsSz8iBbbJqQD8OzAvl/72LuOBBgIKbQejOwzL1iy6Gcz8XrdVLMQ66Kc690brRrO1YQcGbjUHg/7tZUyGcBAoXjptLyQWfQAdsZCP8yIuTlTf2ApK4s8IWZrfcPfLiZOWNvYAk7qxwdXz7JBovCSRxZwUrR/6UOPaSmwBbbZl5Zbrjro5vPyWO96zlJA/gfVjZ1izrstsIoSEsrCNZIYU9Wn4Q/OwglA7sSqkOLG6VOzFEqCGYBkAHVl4ERG0orZM7KOSbi9GBnZwuriB8EvMPOedfWSFL31YQrjVyVkhiZE8gGCvuylAQE/fpalXH9vdHAFr1WiNmDTclM1ka2V1JEMLbJaHAdrUBUsD4eXwrN1N6ZzLEMldm+K81IqO5A0OhE8PKZXAEW4P0hVL/uBnp1VnhT+QrqFLYWMxsxIAOzBM7PTTCINS67gvdFdX0sdZUa6qqsmn10I5T3X9HePliObDpJ919R85q1vhAOMkp2XDh0xLicQQoxvl0igJ4TvlF20y6rxddGNvrol2GujDzaApexuF8HsdxOhdEEHIFFmwI/zGgA87/SRKdv8EaSYSJPrb5kje8fYddwGb54tVEbU/1UNZV1w7DWA3FgcXYt7r5jpx/vdUT3FuE4wu+A/0APfZL4WwV9A/C7gVUq48D0kdk\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"62a-m289MBgp9AaXYQhU1LMvvut4uZk\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "46b22e38-bedf-462b-b1b8-56253538fbab"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 159,
      },
      {
        "_id": "69eb6bdf9cecf8fa1fdca1cc6352f2d8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"this is a test\",\"id\":\"57441e24-6310-49d7-984c-3692ba87bbab\",\"metadata\":{},\"name\":\"random-scope\",\"sourceCondition\":{\"user\":{\"filter\":{\"or\":[{\"not_contains\":{\"in_string_array\":\"user.adminOfOrg\",\"search_string\":{\"literal\":\"e74ffe7b-77be-4d6a-9564-3f9d8c4304e0\"}}},{\"equals\":{\"left\":\"user.city\",\"right\":{\"literal\":\"Salt Lake City\"}}}]},\"version\":\"v2\"}},\"status\":\"active\",\"targetCondition\":{\"application\":{\"filter\":{},\"version\":\"v2\"},\"entitlement\":{\"filter\":{},\"version\":\"v2\"},\"role\":{\"filter\":{},\"version\":\"v2\"},\"user\":{\"filter\":{},\"version\":\"v2\"}}}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/scope?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 570,
            "text": "{\"description\":\"this is a test\",\"id\":\"7c584440-83da-474b-9473-8a5d7a433947\",\"metadata\":{},\"name\":\"random-scope\",\"sourceCondition\":{\"user\":{\"filter\":{\"or\":[{\"not_contains\":{\"in_string_array\":\"user.adminOfOrg\",\"search_string\":{\"literal\":\"e74ffe7b-77be-4d6a-9564-3f9d8c4304e0\"}}},{\"equals\":{\"left\":\"user.city\",\"right\":{\"literal\":\"Salt Lake City\"}}}]},\"version\":\"v2\"}},\"status\":\"active\",\"targetCondition\":{\"application\":{\"filter\":{},\"version\":\"v2\"},\"entitlement\":{\"filter\":{},\"version\":\"v2\"},\"role\":{\"filter\":{},\"version\":\"v2\"},\"user\":{\"filter\":{},\"version\":\"v2\"}},\"_rev\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"23a-RJiNcY/H62LToBv7gKfktVuqQns\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "57be3ed6-e29a-4cf1-885b-e4476e293d26"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1709,
      },
      {
        "_id": "d7a92d5407c8d4d42df457ab8733775b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"Allows employees (frIndexedInteger1 eq 0) to view other employee objects\",\"id\":\"8203ecdd-d9b6-4103-aac5-1c4ad99e1b24\",\"metadata\":{},\"name\":\"phh-delegate-visibility\",\"sourceCondition\":{\"user\":{\"filter\":{\"and\":[{\"equals\":{\"left\":\"user.frIndexedInteger1\",\"right\":{\"literal\":0}}}]},\"version\":\"v2\"}},\"status\":\"inactive\",\"targetCondition\":{\"user\":{\"filter\":{\"and\":[{\"equals\":{\"left\":\"user.frIndexedInteger1\",\"right\":{\"literal\":0}}}]},\"version\":\"v2\"}}}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governa[...]
