{
  "log": {
    "_recordingName": "iga/glossary-describe/0_n_t/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "94d9da5c456370f2bfc35d5ebaf35565",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"targetFilter\":{\"operator\":\"AND\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"name\",\"targetValue\":\"sensitive\"}},{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"objectType\",\"targetValue\":\"/openidm/managed/role\"}}]}}"
          },
          "queryString": [
            {
              "name": "pageSize",
              "value": "10000"
            },
            {
              "name": "pageNumber",
              "value": "0"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/glossary/schema/search?pageSize=10000&pageNumber=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 517,
            "text": "{\"result\":[{\"allowedValues\":[\"yes\",\"no\"],\"description\":\"\",\"displayName\":\"Is Sensitive\",\"enumeratedValues\":[{\"text\":\"Yes\",\"value\":\"yes\"},{\"text\":\"No\",\"value\":\"no\"}],\"id\":\"4da5bed6-f690-41a9-af8a-51b505dc2099\",\"isMultiValue\":false,\"name\":\"sensitive\",\"objectType\":\"/openidm/managed/role\",\"searchable\":true,\"type\":\"string\",\"metadata\":{\"modifiedDate\":\"2026-05-15T21:58:36.944641365Z\",\"createdDate\":\"2026-05-15T21:58:36.94464055Z\"}}],\"searchAfterKey\":[\"4da5bed6-f690-41a9-af8a-51b505dc2099\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"205-x5YIJchgZEwbHd2UHPS1yiEI1gg\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "a976c414-3a1d-4559-93af-480fc2fccd49"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 199,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
