{
  "log": {
    "_recordingName": "config-manager/push/metadata/0_M_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8a002ed9f0545f31963a4de0cc4435e9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"custom/config.metadata\",\"lastPush\":\"2026-09-08T00:00:00Z\",\"pushedBy\":\"frodo-test-1\",\"version\":\"1.0.1\"}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/custom-config.metadata"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 110,
            "text": "{\"_id\":\"custom/config.metadata\",\"lastPush\":\"2026-09-08T00:00:00Z\",\"pushedBy\":\"frodo-test-1\",\"version\":\"1.0.1\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 34,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
