{
  "log": {
    "_recordingName": "iga/events-import/0_all_file_no-deps/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "14668229c4ae17b47099d958ef252ad3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"action\":{\"name\":\"testWorkflow4\",\"parameters\":{\"var1\":\"val1\",\"var2\":\"val2\",\"var3\":\"val3\"},\"type\":\"orchestration\"},\"condition\":{\"filter\":{\"or\":[{\"contains\":{\"in_string\":\"user.after.city\",\"search_string\":{\"literal\":\"a\"}}},{\"not_contains\":{\"in_string\":\"user.after.city\",\"search_string\":{\"literal\":\"b\"}}},{\"equals\":{\"left\":\"user.after.city\",\"right\":{\"literal\":\"c\"}}},{\"not_equals\":{\"left\":\"user.after.city\",\"right\":{\"literal\":\"d\"}}},{\"starts_with\":{\"prefix\":{\"literal\":\"e\"},\"value\":\"user.after.city\"}},{\"ends_with\":{\"suffix\":{\"literal\":\"f\"},\"value\":\"user.after.city\"}},{\"and\":[{\"gte\":{\"left\":\"user.after.frIndexedInteger1\",\"right\":{\"literal\":1}}},{\"gt\":{\"left\":\"user.after.frIndexedInteger1\",\"right\":{\"literal\":2}}},{\"lte\":{\"left\":\"user.after.frIndexedInteger1\",\"right\":{\"literal\":3}}},{\"lt\":{\"left\":\"user.after.frIndexedInteger1\",\"right\":{\"literal\":4}}}]}]},\"version\":\"v2\"},\"description\":\"\",\"entityType\":\"user\",\"id\":\"042e413a-cd1d-4ad3-a2f8-c05fda2067af\",\"metadata\":{},\"mutationType\":\"create\",\"name\":\"test_events_1\",\"owners\":[{\"givenName\":\"Preston\",\"id\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"mail\":\"test@test.com\",\"sn\":\"Test\",\"userName\":\"PrestonIGATestUser\"}],\"status\":\"active\"}"
          },
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/event/042e413a-cd1d-4ad3-a2f8-c05fda2067af"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 77,
            "text": "{\"message\":\"Cannot find event with id: 042e413a-cd1d-4ad3-a2f8-c05fda2067af\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4d-fkctTOH1KewiAnzfDsSD5cHywRU\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "73e0cedc-e5ae-46f6-8116-01170f1786c8"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 217,
      },
      {
        "_id": "bded4f8fe1b5f8a38cba78bd31852084",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "P[...]
