{
  "log": {
    "_recordingName": "conn/update/1_skip-prompts_username_password/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1b8f5e74-7fcc-4c78-9f6b-82e59a8f521d"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/3b0b5c73-80e6-4b9e-a83e-f295955e541e?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1021,
            "text": "{\"_id\":\"3b0b5c73-80e6-4b9e-a83e-f295955e541e\",\"_rev\":\"0a4f81b7-cdff-467d-8392-d35bd558e6f9-5326\",\"accountStatus\":\"active\",\"name\":\"devin-svc\",\"description\":null,\"scopes\":[\"fr:am:*\",\"fr:idm:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"e\\\":\\\"AQAB\\\",\\\"kty\\\":\\\"RSA\\\",\\\"n\\\":\\\"r6BQfNaJSzbZ7bBDX_9D6UCt6PMYPuuifztMi1BH02O0Gni13jsscQCYD5udkQep7QEu8_T1P8KwN5qcZ4VfAG6WLC1xihtkl-eiZP2r02y6FaorVEVMn6NycT13WCQRy1RGbD7JsZIxr7zro8D7mrmvC-tUu4btQtV65bwPOwoo9763QMiXHqkxPwBqU5bckh1CEoYCpHZfE5rWNR4OIRXXVCH7Vg2n8gYaG35dVTWmu00fmTI5-RAp7uiF51_aZFbAsx_OH0UaQFBl0WxlLIo6C-w9xtfu0FehvMxLvV9nAhpcaNurJrDkLmsay6MvZ74a04fWlcKh4qbbhHQBwvjC5be_cH_GQHmxKE-roYNLqWwqWcG5-PA_X0YCHKspmw_BGqigqkhE9VZ-oknWl8is_BNZyhk_YTJEhu03Kl0uNa2R_MWeEDmrQ6zTE8tzQFLBI2r5oF65qbZKnGWlqiwTL4S-41o2drni8lc7CPpP4yu5q58hhdXTAxuyhVtC95cn9c1aJaHhCgfH6HQA4aETj-D40H63EvM-_e_U2h1IApNYqUoJCRh8WOFYsKpqNwQ_diPUTVxQITYS-eFr0itwYtzoq7q3QFQfsczpQVwFrYzA0Ly1XtYrcBkDZSuUpyuVepJxIqV0_tIDOyiVZLeztRptkDgRbtClC-lMLs0\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"0a4f81b7-cdff-467d-8392-d35bd558e6f9-5326\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1b8f5e74-7fcc-4c78-9f6b-82e59a8f521d"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 99,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
