{
  "log": {
    "_recordingName": "config-manager/delete/connector-definitions/0_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "850863c58cdbe6e8f549ca63fefdb44f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "_id sw 'provisioner.openicf'"
            }
          ],
          "url": "https://platform.dev.trivir.com/openidm/config?_queryFilter=_id%20sw%20%27provisioner.openicf%27"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 407,
            "text": "{\"result\":[{\"_id\":\"provisioner.openicf.connectorinfoprovider\",\"connectorsLocation\":\"connectors\",\"remoteConnectorClients\":[{\"clientId\":\"rcs\",\"enabled\":true,\"name\":\"rcs\",\"useSSL\":true}],\"remoteConnectorClientsGroups\":[],\"remoteConnectorServers\":[],\"remoteConnectorServersGroups\":[]}],\"resultCount\":1,\"pagedResultsCookie\":null,\"totalPagedResultsPolicy\":\"EXACT\",\"totalPagedResults\":1,\"remainingPagedResults\":-1}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 40,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
