{
  "log": {
    "_recordingName": "iga/glossary-delete/0_n_t/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "01b6762a7d1425e1ffb459405f856f23",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"targetFilter\":{\"operator\":\"AND\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"name\",\"targetValue\":\"sensitive\"}},{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"objectType\",\"targetValue\":\"/openidm/managed/assignment\"}}]}}"
          },
          "queryString": [
            {
              "name": "pageSize",
              "value": "10000"
            },
            {
              "name": "pageNumber",
              "value": "0"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/glossary/schema/search?pageSize=10000&pageNumber=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 524,
            "text": "{\"result\":[{\"allowedValues\":[\"yes\",\"no\"],\"description\":\"\",\"displayName\":\"Is Sensitive\",\"enumeratedValues\":[{\"text\":\"Yes\",\"value\":\"yes\"},{\"text\":\"No\",\"value\":\"no\"}],\"id\":\"13a88c47-5846-4e5a-b9b5-759ac7ff89fe\",\"isMultiValue\":false,\"name\":\"sensitive\",\"objectType\":\"/openidm/managed/assignment\",\"searchable\":true,\"type\":\"string\",\"metadata\":{\"modifiedDate\":\"2026-05-22T16:22:14.872463937Z\",\"createdDate\":\"2026-05-22T16:22:14.872461378Z\"}}],\"searchAfterKey\":[\"13a88c47-5846-4e5a-b9b5-759ac7ff89fe\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"20c-S63UX7F8Z9f2bDPSaUqOA6H+qGE\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "5679ad5c-6a6c-4206-90b5-ba27352764ec"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 339,
      },
      {
        "_id": "407a1aa47550e3ee0540c52b6e03e856",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/glossary/sc[...]
