{
  "log": {
    "_recordingName": "idp/delete/0_i/am",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-16b897e1-7ff0-4569-9f3c-e3c73f9b31ba"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 615,
            "text": "{\"_id\":\"*\",\"_rev\":\"1955877839\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[],\"cloudOnlyFeaturesEnabled\":true,\"oauth2AIAgentsEnabled\":false}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "etag",
              "value": "\"1955877839\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-16b897e1-7ff0-4569-9f3c-e3c73f9b31ba"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 129,
      },
      {
        "_id": "6125d0328ad0dcaee55f73fd8b22ca14",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-16b897e1-7ff0-4569-9f3c-e3c73f9b31ba"
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/serverinfo/version"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 275,
            "text": "{\"_id\":\"version\",\"_rev\":\"1171477248\",\"version\":\"9.0.0-SNAPSHOT\",\"fullVersion\":\"ForgeRock Access Management 9.0.0-SNAPSHOT Build 304c60a9fe7797e1045c631600098d4465b73e4d (2026-April-15 10:21)\",\"revision\":\"304c60a9fe7797e1045c631600098d4465b73e4d\",\"date\":\"2026-April-15 10:21\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "etag",
              "value": "\"1171477248\""
            },
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-16b897e1-7ff0-4569-9f3c-e3c73f9b31ba"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 164,
      },
      {
        "_id": "fd73e4ce797b9b32578e46481feba4a3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-16b897e1-7ff0-4569-9f3c-e3c73f9b31ba"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "nextdescendents"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/json/realms/root/realms/alpha/realm-config/services/SocialIdentityProviders?_action=nextdescendents"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 3957,
            "text": "{\"result\":[{\"pkceMethod\":\"S256\",\"clientId\":\"client123\",\"jwtEncryptionMethod\":\"NONE\",\"jwtEncryptionAlgorithm\":\"NONE\",\"authorizationEndpoint\":\"https://api.instagram.com/oauth/authorize/\",\"issuerComparisonCheckType\":\"EXACT\",\"scopeDelimiter\":\",\",\"scopes\":[\"user_profile\"],\"introspectEndpoint\":\"https://graph.instagram.com/debug_token\",\"enabled\":false,\"authenticationIdKey\":\"id\",\"uiConfig\":{\"buttonCustomStyle\":\"background-color: #3f729b; border-color: #3f729b;color: white;\",\"buttonCustomStyleHover\":\"background-color: #305777; border-color: #305777;color: white;\",\"buttonImage\":\"\",\"buttonClass\":\"fa-instagram\",\"buttonDisplayName\":\"Instagram\"},\"privateKeyJwtExpTime\":600,\"revocationCheckOptions\":[],\"transform\":\"1244e639-4a31-401d-ab61-d75133d8dc9e\",\"userInfoEndpoint\":\"https://graph.instagram.com/me?fields=id,username\",\"jwtSigningAlgorithm\":\"NONE\",\"redirectURI\":\"http://test.com\",\"responseMode\":\"DEFAULT\",\"useCustomTrustStore\":false,\"clientAuthenticationMethod\":\"CLIENT_SECRET_POST\",\"tokenEndpoint\":\"https://api.instagram.com/oauth/access_token\",\"_id\":\"insta\",\"_type\":{\"_id\":\"instagramConfig\",\"name\":\"Client configuration for Instagram.\",\"collection\":true}},{\"clientId\":\"bdae6d141d4dcf95a630\",\"pkceMethod\":\"S256\",\"jwtEncryptionMethod\":\"NONE\",\"authorizationEndpoint\":\"https://github.com/login/oauth/authorize\",\"jwtEncryptionAlgorithm\":\"NONE\",\"issuerComparisonCheckType\":\"EXACT\",\"scopeDelimiter\":\" \",\"scopes\":[\"user\"],\"enabled\":true,\"authenticationIdKey\":\"id\",\"uiConfig\":{\"buttonCustomStyle\":\"background-color: #fff; color: #757575; border-color: #ddd;\",\"buttonCustomStyleHover\":\"color: #6d6d6d; background-color: #eee; border-color: #ccc;\",\"buttonDisplayName\":\"GitHub\",\"buttonImage\":\"https://cdn-icons-png.flaticon.com/512/25/25231.png\",\"iconBackground\":\"#4184f3\",\"iconFontColor\":\"white\"},\"privateKeyJwtExpTime\":600,\"revocationCheckOptions\":[],\"transform\":\"23143919-6b78-40c3-b25e-beca19b229e0\",\"userInfoEndpoint\":\"https://ig.mytestrun.com/user\",\"jwtSigningAlgorithm\":\"NONE\",\"redirectURI\":\"https://idc.scheuber.io/login\",\"clientAuthenticationMethod\":\"CLIENT_SECRET_POST\",\"responseMode\":\"DEFAULT\",\"useCustomTrustStore\":false,\"tokenEndpoint\":\"https://ig.mytestrun.com/login/oauth/access_token\",\"_id\":\"github\",\"_type\":{\"_id\":\"oauth2Config\",\"name\":\"Client configuration for providers that implement the OAuth2 specification.\",\"collection\":true}},{\"clientId\":\"aa9a179e-cdba-4db8-8477-3d1069d5ec04\",\"pkceMethod\":\"S256\",\"wellKnownEndpoint\":\"https://adfs.mytestrun.com/adfs/.well-known/openid-configuration\",\"jwtEncryptionMethod\":\"NONE\",\"authorizationEndpoint\":\"https://adfs.mytestrun.com/adfs/oauth2/authorize\",\"jwtEncryptionAlgorithm\":\"NONE\",\"issuerComparisonCheckType\":\"EXACT\",\"encryptJwtRequestParameter\":false,\"expClaimRequiredInRequestObject\":false,\"scopeDelimiter\":\" \",\"scopes\":[\"openid\",\"profile\",\"email\"],\"issuer\":\"https://adfs.mytestrun.com/adfs\",\"userInfoResponseType\":\"JSON\",\"acrValues\":[],\"jwksUriEndpoint\":\"https://adfs.mytestrun.com/adfs/discovery/keys\",\"encryptedIdTokens\":false,\"enabled\":true,\"jwtRequestParameterOption\":\"NONE\",\"authenticationIdKey\":\"sub\",\"uiConfig\":{\"buttonClass\":\"\",\"buttonCustomStyle\":\"background-color: #fff; border-color: #8b8b8b; color: #8b8b8b;\",\"buttonCustomStyleHover\":\"background-color: #fff; border-color: #8b8b8b; color: #8b8b8b;\",\"buttonDisplayName\":\"Microsoft ADFS\",\"buttonImage\":\"/login/images/microsoft-logo.png\",\"iconBackground\":\"#0078d7\",\"iconClass\":\"fa-windows\",\"iconFontColor\":\"white\"},\"privateKeyJwtExpTime\":600,\"revocationCheckOptions\":[],\"enableNativeNonce\":true,\"transform\":\"dbe0bf9a-72aa-49d5-8483-9db147985a47\",\"jwtSigningAlgorithm\":\"RS256\",\"redirectURI\":\"https://idc.scheuber.io/login\",\"clientAuthenticationMethod\":\"CLIENT_SECRET_POST\",\"responseMode\":\"DEFAULT\",\"useCustomTrustStore\":false,\"tokenEndpoint\":\"https://adfs.mytestrun.com/adfs/oauth2/token\",\"_id\":\"adfs\",\"_type\":{\"_id\":\"oidcConfig\",\"name\":\"Client configuration for providers that implement the OpenID Connect specification.\",\"collection\":true}}]}"
   [...]
