{
  "log": {
    "_recordingName": "config-manager/push/remote-servers/0_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d1c22bd76f956d6c26c99f5b2d2f61c0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-e614ce12-4a3e-4692-a7ca-0b58d1d6356e"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"provisioner.openicf.connectorinfoprovider\",\"connectorsLocation\":\"connectors\",\"remoteConnectorClients\":[],\"remoteConnectorClientsGroups\":[],\"remoteConnectorServers\":[],\"remoteConnectorServersGroups\":[]}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/provisioner.openicf.connectorinfoprovider"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 209,
            "text": "{\"_id\":\"provisioner.openicf.connectorinfoprovider\",\"connectorsLocation\":\"connectors\",\"remoteConnectorClients\":[],\"remoteConnectorClientsGroups\":[],\"remoteConnectorServers\":[],\"remoteConnectorServersGroups\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 21,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
