{
  "log": {
    "_recordingName": "conn/update/1_skip-prompts_username_password/oauth2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1b8f5e74-7fcc-4c78-9f6b-82e59a8f521d"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "redirect_uri=https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html&scope=fr:idc:analytics:* fr:idc:certificate:* fr:idc:content-security-policy:* fr:idc:cookie-domain:* fr:idc:custom-domain:* fr:idc:esv:* fr:idm:* openid fr:idc:promotion:* fr:idc:release:* fr:idc:sso-cookie:*&response_type=code&client_id=idmAdminClient&csrf=RILBxET6JPBXHla7NYlWDVBynts.*AAJTSQACMDIAAlNLABxOYVU1YWl2MVFtS2tZTFg1eG1FeE5weTBFeFU9AAR0eXBlAANDVFMAAlMxAAIwMQ..*&decision=allow&code_challenge=3f7JsVYBgjwiPMzSnWwmTWe9kT8MeF0xqqaR2SkkLPM&code_challenge_method=S256"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/oauth2/authorize"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "location",
              "value": "https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html?code=4hoiAkuPFU0_uDr7z5l6y30APJk&iss=https%3A%2F%2Fopenam-frodo-dev.forgeblocks.com%3A443%2Fam%2Foauth2&client_id=idmAdminClient"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1b8f5e74-7fcc-4c78-9f6b-82e59a8f521d"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 130,
      },
      {
        "_id": "ff75519a93ccab829f8ee8cf5e92b49f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1b8f5e74-7fcc-4c78-9f6b-82e59a8f521d"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Basic aWRtQWRtaW5DbGllbnQ6ZG9lc25vdG1hdHRlcg=="
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "redirect_uri=https://openam-frodo-dev.forgeblocks.com/platform/appAuthHelperRedirect.html&grant_type=authorization_code&code=4hoiAkuPFU0_uDr7z5l6y30APJk&code_verifier=8yaEgXvBw1UjAS18P0kit2soM0kMNJADmIQFHamjKe0"
          },
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/am/oauth2/access_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 3037,
            "text": "{\"access_token\":\"<access token>\",\"scope\":\"fr:idc:custom-domain:* fr:idc:release:* openid fr:idc:sso-cookie:* fr:idc:esv:* fr:idc:content-security-policy:* fr:idm:* fr:idc:certificate:* fr:idc:analytics:* fr:idc:cookie-domain:* fr:idc:promotion:*\",\"id_token\":\"<id token>\",\"token_type\":\"Bearer\",\"expires_in\":3599}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-1b8f5e74-7fcc-4c78-9f6b-82e59a8f521d"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 100,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
