{
  "log": {
    "_recordingName": "iga/certification-import/0_all_file/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3da6159d-a46b-4f46-8696-2cbbb4390bf7"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/openidm/managed/svcacct/0d62f489-fcdc-4716-9d27-cbf49a116bab?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1403,
            "text": "{\"_id\":\"0d62f489-fcdc-4716-9d27-cbf49a116bab\",\"_rev\":\"e0e8dcd5-58b9-4bd2-aee8-ba1a2a9ef24b-34551\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1778187873431\",\"description\":\"bwirick@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:autoaccess:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:dataset:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:iga:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"9FohBoEyPTYeYHZIMoI9SC7a-kGPm-vmwe-N1p-Xikg\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"1zMXAH-QOqMD5ZM-gcLTaHg8LxCAZNUvuXrt2EqwPxqEvu18T8Ctd_tJKbgfsOLiSBm8T4Rqi7ZFUoNyuds_Yp42fwGhHuEy4QRheF43gSErJWfSifT_Hj4uqeYFCpyNIyFU83Cadgp0x-aXWGGPzYT48ekA3rh42E9WteE4F9FLCDulL6Ufi0NoIKmWH6t1sH5od1zIyIMifF4BR_kHkJvP599RTPx-jHpO5LYQuj1H0sb2Yusp0mX9zcGatVNiob6aPlub51XZ3cKeO5FWY3EESOS81XN9KpivzqtovOMj5lzm8bV2dMb4AmJYdzC8GjUeEbmIFJyk3SjfK5WoLKDZ_uzu2iLBpZ3Iaxzg6MENjMOckXI25Z_tbTsghec58_UI5zxQzq_-E0GCCfOGgu3tMXUG62_wCBwJHi1MtTonSxUTdOI56UES3jY_-yJkxPlAkiuFm8Yhn4XSblSvin71SLQpT94WyulshXH4junuXgK-aLktzW6sYFfJ0CKTrtOmtxIHbjML5bUgBr3Sw17W1nea3vjxsRRR1dx5GmgYWQOl3muIyV26SQHyGkvrjVUbLBmM5JRFEvmRyhX2I8YHzZxBUpUVVmHXxkHOOJLxnTdVZHQnZgQ4gyOmq661YXRp1gVAqKKwkLcoRkSvMIJivqwD8wRjGf3S0v7rhA8\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"e0e8dcd5-58b9-4bd2-aee8-ba1a2a9ef24b-34551\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3da6159d-a46b-4f46-8696-2cbbb4390bf7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 209,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-3da6159d-a46b-4f46-8696-2cbbb4390bf7"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ][...]
