{
  "log": {
    "_recordingName": "mapping/import/0_AD_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4c1fef66c916c8940b0315dddc564b06",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ee3e1a07-c7e9-41a6-a810-880bc765be30"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/sync"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1041,
            "text": "{\"_id\":\"sync\",\"mappings\":[{\"_id\":\"sync/managedRole_managedUser\",\"consentRequired\":false,\"displayName\":\"managedRole_managedUser\",\"icon\":null,\"name\":\"managedRole_managedUser\",\"policies\":[{\"action\":\"ASYNC\",\"situation\":\"ABSENT\"},{\"action\":\"ASYNC\",\"situation\":\"ALL_GONE\"},{\"action\":\"ASYNC\",\"situation\":\"AMBIGUOUS\"},{\"action\":\"ASYNC\",\"situation\":\"CONFIRMED\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND_ALREADY_LINKED\"},{\"action\":\"ASYNC\",\"situation\":\"LINK_ONLY\"},{\"action\":\"ASYNC\",\"situation\":\"MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"TARGET_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"UNASSIGNED\"},{\"action\":\"ASYNC\",\"situation\":\"UNQUALIFIED\"}],\"properties\":[{\"source\":\"name\",\"target\":\"mail\",\"transform\":{\"globals\":{},\"source\":\"//test script update again\\n\\nsource\\n\",\"type\":\"text/javascript\"}},{\"target\":\"sn\"},{\"target\":\"givenName\"},{\"target\":\"userName\"}],\"source\":\"managed/role\",\"syncAfter\":[],\"target\":\"managed/user\"}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 17,
      },
      {
        "_id": "c1ac7eb6e715071e256e6f01221b37de",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-ee3e1a07-c7e9-41a6-a810-880bc765be30"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"mappings\":[{\"_id\":\"sync/managedRole_managedUser\",\"consentRequired\":false,\"displayName\":\"managedRole_managedUser\",\"icon\":null,\"name\":\"managedRole_managedUser\",\"policies\":[{\"action\":\"ASYNC\",\"situation\":\"ABSENT\"},{\"action\":\"ASYNC\",\"situation\":\"ALL_GONE\"},{\"action\":\"ASYNC\",\"situation\":\"AMBIGUOUS\"},{\"action\":\"ASYNC\",\"situation\":\"CONFIRMED\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND\"},{\"action\":\"ASYNC\",\"situation\"[...]
