{
  "log": {
    "_recordingName": "iga/policy-delete/0_n/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3c5b1dbbcfe863fba38fda960d8f1c67",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"delete-test\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/policy?_queryFilter=name%20eq%20%22delete-test%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 510,
            "text": "{\"result\":[{\"name\":\"delete-test\",\"description\":\"\",\"policyOwner\":{\"givenName\":\"csv\",\"id\":\"managed/user/9de92b26-e91e-44b7-ac81-7ae1c6adf9ad\",\"mail\":\"1csv@example.com\",\"sn\":\"one\",\"userName\":\"1csv\"},\"policyRuleIds\":[\"0434dcaa-7950-4f7a-b869-7a3d33c82396\"],\"active\":true,\"id\":\"23bc2aff-cc65-45cf-95db-2c4c16b0bff9\",\"metadata\":{\"modifiedDate\":\"2026-06-04T17:08:47.766133509Z\",\"createdDate\":\"2026-06-04T17:08:47.766125507Z\"}}],\"searchAfterKey\":[\"23bc2aff-cc65-45cf-95db-2c4c16b0bff9\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1fe-UYNI/S8zo5HT4tkZoOWaDVPMT34\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "368c0f6c-4c64-43bd-a3f1-b238e260954d"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 280,
      },
      {
        "_id": "fddb9871d9c951fe6490a352b631325c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/policy/2[...]
