{
  "log": {
    "_recordingName": "iga/scope-import/0_f/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "af55958a3898b129bc68978def6db818",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/scope?_queryFilter=true&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 504,
            "text": "{\"result\":[{\"description\":\"test scope for contains filter\",\"id\":\"c39062f0-ac60-4f72-ad8a-ef87bb8889b1\",\"name\":\"contains-test\",\"sourceCondition\":{\"user\":{\"filter\":{\"or\":[{\"contains\":{\"in_string\":\"user._id\",\"search_string\":{\"literal\":\"\"}}}]},\"version\":\"v2\"}},\"status\":\"active\",\"targetCondition\":{},\"_rev\":1,\"metadata\":{\"modifiedDate\":\"2026-05-19T19:46:27.215477817Z\",\"createdDate\":\"2026-05-19T19:46:27.215476403Z\"}}],\"searchAfterKey\":[\"c39062f0-ac60-4f72-ad8a-ef87bb8889b1\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1f8-74sUYXkKw9ZARlInQMQueraAagI\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "ad786f93-965b-480a-9029-cbc47d75c1da"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 207,
      },
      {
        "_id": "9a9b1e6f05605cbfbe49bb2a04c35d4a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"\",\"id\":\"34153ec1-adde-472b-a1b3-65f9b0119df6\",\"metadata\":{},\"name\":\"equals-test\",\"permissions\":{\"createEntitlement\":true,\"createRole\":true,\"createUser\":true,\"deleteRole\":true,\"deleteUser\":true,\"modifyEntitlement\":true,\"modifyRole\":true,\"modifyUser\":true,\"publishRole\":true,\"viewGrants\":true,\"viewUserAccess\":true},\"sourceCondition\":{\"user\":{\"filter\":{\"or\":[{\"equals\":{\"left\":\"user.city\",\"right\":{\"literal\":\"Utah\"}}}]},\"version\":\"v2\"}},\"status\":\"active\",\"targetCondition\":{\"application\":{\"filter\":{\"or\":[{\"equals\":{\"left\":\"catalog.application.name\",\"right\":{\"literal\":\"temp\"}}}]},\"version\":\"v2\"},\"entitlement\":{\"filter\":{\"and\":[{\"equals\":{\"left\":\"catalog.entitlement.descriptor.displayName\",\"right\":{\"literal\":\"temp\"}}}]},\"version\":\"v2\"},\"role\":{\"filter\":{\"or\":[{\"equals\":{\"left\":\"catalog.role.description\",\"right\":{\"literal\":\"temp\"}}}]},\"version\":\"v2\"},\"user\":{\"filter\":{\"or\":[{\"equals\":{\"left\":\"user._id\",\"right\":{\"literal\":\"temp\"}}}]},\"version\":\"v2\"}}}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/scope?_action=create"[...]
