{
  "log": {
    "_recordingName": "iga/glossary-import/0_i_f/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "afd95f800677785d8e9926fde27772c9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"allowedValues\":[],\"description\":\"Test Organization Description\",\"displayName\":\"Test Organization Display Name\",\"enumeratedValues\":[],\"id\":\"b0955a58-1955-40a7-9d9d-29947fe5f8f7\",\"isMultiValue\":false,\"managedObjectType\":\"/openidm/managed/organization\",\"metadata\":{},\"name\":\"testOrg\",\"objectType\":\"/openidm/managed/assignment\",\"searchable\":false,\"type\":\"managedObject\"}"
          },
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/glossary/schema/b0955a58-1955-40a7-9d9d-29947fe5f8f7"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 69,
            "text": "{\"message\":\"Cannot read properties of undefined (reading '_source')\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"45-ZwTS0orWoDYmkvIr8+eny8IwvAo\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "45955afe-cca8-45b9-a0b1-612b6b5f5f9c"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 226,
      },
      {
        "_id": "52eb545fbc0c87283443176a6a370389",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"[...]
