{
  "log": {
    "_recordingName": "iga/events-import/0_i_f/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1e2929bc769553c6c4b5760f8f756eec",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"action\":{\"name\":\"testWorkflow4\",\"parameters\":{\"var1\":\"val1\",\"var2\":\"val2\",\"var3\":\"val3\"},\"type\":\"orchestration\"},\"condition\":{\"filter\":{\"or\":[{\"contains\":{\"in_string\":\"user.after.city\",\"search_string\":{\"literal\":\"a\"}}},{\"not_contains\":{\"in_string\":\"user.after.city\",\"search_string\":{\"literal\":\"b\"}}},{\"equals\":{\"left\":\"user.after.city\",\"right\":{\"literal\":\"c\"}}},{\"not_equals\":{\"left\":\"user.after.city\",\"right\":{\"literal\":\"d\"}}},{\"starts_with\":{\"prefix\":{\"literal\":\"e\"},\"value\":\"user.after.city\"}},{\"ends_with\":{\"suffix\":{\"literal\":\"f\"},\"value\":\"user.after.city\"}},{\"and\":[{\"gte\":{\"left\":\"user.after.frIndexedInteger1\",\"right\":{\"literal\":1}}},{\"gt\":{\"left\":\"user.after.frIndexedInteger1\",\"right\":{\"literal\":2}}},{\"lte\":{\"left\":\"user.after.frIndexedInteger1\",\"right\":{\"literal\":3}}},{\"lt\":{\"left\":\"user.after.frIndexedInteger1\",\"right\":{\"literal\":4}}}]}]},\"version\":\"v2\"},\"description\":\"\",\"entityType\":\"user\",\"id\":\"2dd3656c-c46d-4254-9959-91179227ed3e\",\"metadata\":{},\"mutationType\":\"create\",\"name\":\"test_events_1\",\"owners\":[{\"givenName\":\"Preston\",\"id\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"mail\":\"test@test.com\",\"sn\":\"Test\",\"userName\":\"PrestonIGATestUser\"}],\"status\":\"active\"}"
          },
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/event/2dd3656c-c46d-4254-9959-91179227ed3e"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 77,
            "text": "{\"message\":\"Cannot find event with id: 2dd3656c-c46d-4254-9959-91179227ed3e\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4d-YtVyHHIWfDS/KXX7p2TFw+Cr8QM\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "c3cac82f-3a04-4cdd-b95d-5f9b7c9da6bc"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 208,
      },
      {
        "_id": "12f9a814c611eca2ec75a1a15cfdf04f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "P[...]
