{
  "log": {
    "_recordingName": "iga/workflow-delete/0_pi/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "57a5cad82f09fe2fb978b6ffd0967f8f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "(objectId sw \"workflow/testWorkflow1\")"
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/requestFormAssignments?_queryFilter=%28objectId%20sw%20%22workflow%2FtestWorkflow1%22%29&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 495,
            "text": "{\"totalCount\":2,\"resultCount\":2,\"result\":[{\"formId\":\"fa1a5e72-d803-4879-bc2a-07a5da3d8ee9\",\"objectId\":\"workflow/testWorkflow1/node/approvalTask-7e33e73d6763\",\"metadata\":{\"modifiedDate\":\"2026-03-05T15:56:19.401267826Z\",\"createdDate\":\"2026-03-05T15:56:19.40126505Z\"}},{\"formId\":\"9e3fc668-4e96-4b03-9605-38b830bea26c\",\"objectId\":\"workflow/testWorkflow1/node/fulfillmentTask-7fce35a32915\",\"metadata\":{\"modifiedDate\":\"2026-03-05T15:56:27.411139113Z\",\"createdDate\":\"2026-03-05T15:56:27.411137125Z\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1ef-EJP1/m0PAPTy4aRd9rTj4xJXey0\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "8c6909d1-630f-42d3-9248-7f038bdc2df8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 170,
      },
      {
        "_id": "b74ab2fa7c61f94d8bbb9a49203978d0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/workflow/testWorkflow1/draft"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 59,
            "text": "{\"message\":\"Workflow with id: testWorkflow1 was not found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"3b-HiEhv0q/97PIUsbVKA+HvMv7SHI\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "ca88c04b-8a46-4461-8af8-5ab1e81e36f2"
            }
          ],
          "st[...]
