{
  "log": {
    "_recordingName": "iga/workflow-import/0_f_no-deps/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e4daad725312870cb4556b1eb64158eb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/workflow/BasicApplicationGrant/draft"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 67,
            "text": "{\"message\":\"Workflow with id: BasicApplicationGrant was not found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"43-F8qvq/zX6qiwF6tRyYDPCaulCvU\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "a2fd4513-8e17-4d3a-9c73-88becae23e3e"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 573,
      },
      {
        "_id": "eb694d0c99612d07dd43775cfc370349",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/workflow/BasicApplicationGrant/published"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 4250,
            "text": "[\"G/w0AOTydX19/fb23p1gnsY4JER5MxvShHTBU6+E1WY0z0g+SWagKN+3X5mQIQkqz8dYVJExOsIVtBgSGMLZAEBVdX9Y/jMBADWb8Fkmee6MZxD6lPibQxl5wtn4a2j95MpvNRELIjzQbHL7R/SCWqHAH6TX3ffjOOhOBm3NL06agByNPFASfd3C9N8p0/BegXd+BP6pY9DWNBw9PPnHg36wH9BbB3snTdBmDxImTw6kgZMwesPlGkUlXgI5hvNIKPDB4l/Ca2u02SPHhzcvPB7+6L0cPHH87OiIouLoA40exf8uLZMfDeHv+iiHR+m/XFd519dFlxV5VrWu9H3qm+BR+i/lq0w6IN/1fOKChk7hIdBYrjjl4oVRmGkY[...]
