{
  "log": {
    "_recordingName": "iga/glossary-describe/0_glossary-name_glossary-type/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "57a8e0cc407b3ecafc77779de0f9e791",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"targetFilter\":{\"operator\":\"AND\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"name\",\"targetValue\":\"sensitive\"}},{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"objectType\",\"targetValue\":\"/openidm/managed/application\"}}]}}"
          },
          "queryString": [
            {
              "name": "pageSize",
              "value": "10000"
            },
            {
              "name": "pageNumber",
              "value": "0"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/glossary/schema/search?pageSize=10000&pageNumber=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 525,
            "text": "{\"result\":[{\"allowedValues\":[\"yes\",\"no\"],\"description\":\"\",\"displayName\":\"Is Sensitive\",\"enumeratedValues\":[{\"text\":\"Yes\",\"value\":\"yes\"},{\"text\":\"No\",\"value\":\"no\"}],\"id\":\"598709e1-d16b-4c39-884d-dd9481b14d90\",\"isMultiValue\":false,\"name\":\"sensitive\",\"objectType\":\"/openidm/managed/application\",\"searchable\":true,\"type\":\"string\",\"metadata\":{\"modifiedDate\":\"2026-05-15T21:58:31.894409362Z\",\"createdDate\":\"2026-05-15T21:58:31.894408111Z\"}}],\"searchAfterKey\":[\"598709e1-d16b-4c39-884d-dd9481b14d90\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"20d-xFWZLkxRvVzf2f+p+ul+Q6AE+rQ\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "02b5cce8-230f-44da-92a0-dcb251bf9811"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 190,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
