{
  "log": {
<<<<<<<< HEAD:test/e2e/mocks/config-manager_4167095917/push_2272264157/variables_699097794/0_E_E_D_2766623676/openidm_3290118515/recording.har
    "_recordingName": "config-manager/push/variables/0_E_E_D/openidm",
|||||||| parent of 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/scripts_2605322907/0_D_r_p_just-config_script-type_814276275/openidm_3290118515/recording.har
    "_recordingName": "config-manager/export/scripts/0_D_r_p_just-config_script-type/openidm",
========
    "_recordingName": "config-manager/pull/secret-mappings/0_n_D/openidm",
>>>>>>>> 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/secret-mappings_2964824403/0_n_D_3738999489/openidm_3290118515/recording.har
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
<<<<<<<< HEAD:test/e2e/mocks/config-manager_4167095917/push_2272264157/variables_699097794/0_E_E_D_2766623676/openidm_3290118515/recording.har
              "value": "<user agent>"
|||||||| parent of 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/scripts_2605322907/0_D_r_p_just-config_script-type_814276275/openidm_3290118515/recording.har
              "value": "@rockcarver/frodo-lib/3.3.0"
========
              "value": "@rockcarver/frodo-lib/4.0.0-39"
>>>>>>>> 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/secret-mappings_2964824403/0_n_D_3738999489/openidm_3290118515/recording.har
            },
            {
              "name": "x-forgerock-transactionid",
<<<<<<<< HEAD:test/e2e/mocks/config-manager_4167095917/push_2272264157/variables_699097794/0_E_E_D_2766623676/openidm_3290118515/recording.har
              "value": "<transaction id>"
|||||||| parent of 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/scripts_2605322907/0_D_r_p_just-config_script-type_814276275/openidm_3290118515/recording.har
              "value": "frodo-bbd91eaf-54d4-4b7a-862a-340d318a785e"
========
              "value": "frodo-01bbba16-cbe4-48bb-b350-a66b3b8eb9af"
>>>>>>>> 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/secret-mappings_2964824403/0_n_D_3738999489/openidm_3290118515/recording.har
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            },
            {
              "name": "accept-encoding",
              "value": "gzip, compress, deflate, br"
            },
            {
              "name": "host",
              "value": "openam-frodo-dev.forgeblocks.com"
            }
          ],
<<<<<<<< HEAD:test/e2e/mocks/config-manager_4167095917/push_2272264157/variables_699097794/0_E_E_D_2766623676/openidm_3290118515/recording.har
|||||||| parent of 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/scripts_2605322907/0_D_r_p_just-config_script-type_814276275/openidm_3290118515/recording.har
========
>>>>>>>> 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/secret-mappings_2964824403/0_n_D_3738999489/openidm_3290118515/recording.har
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
<<<<<<<< HEAD:test/e2e/mocks/config-manager_4167095917/push_2272264157/variables_699097794/0_E_E_D_2766623676/openidm_3290118515/recording.har
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/a4438bd2-3e7f-4924-b422-46d5cb049b21?_fields=%2A"
|||||||| parent of 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/scripts_2605322907/0_D_r_p_just-config_script-type_814276275/openidm_3290118515/recording.har
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/a2b4d68f-ca4a-4078-b2d8-f610b54623a5?_fields=%2A"
========
          "url": "https://openam-trivir-demo.forgeblocks.com/openidm/managed/svcacct/e08fce06-bc51-4c53-85d6-60f838c9f738?_fields=%2A"
>>>>>>>> 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/secret-mappings_2964824403/0_n_D_3738999489/openidm_3290118515/recording.har
        },
        "response": {
<<<<<<<< HEAD:test/e2e/mocks/config-manager_4167095917/push_2272264157/variables_699097794/0_E_E_D_2766623676/openidm_3290118515/recording.har
|||||||| parent of 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/scripts_2605322907/0_D_r_p_just-config_script-type_814276275/openidm_3290118515/recording.har
========
>>>>>>>> 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/secret-mappings_2964824403/0_n_D_3738999489/openidm_3290118515/recording.har
          "content": {
            "mimeType": "application/json;charset=utf-8",
<<<<<<<< HEAD:test/e2e/mocks/config-manager_4167095917/push_2272264157/variables_699097794/0_E_E_D_2766623676/openidm_3290118515/recording.har
            "size": 1394,
            "text": "{\"_id\":\"a4438bd2-3e7f-4924-b422-46d5cb049b21\",\"_rev\":\"fe92e226-481b-4208-a6ef-5b8378e8d937-41244\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1784660925315\",\"description\":\"phales@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:dataset:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\",\"fr:idc:telemetry:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"8GP2_8kFC4G22JXxDAz4RX0ZfNB7LHTgMcrCcpRLKtU\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"5mHyhvq1p_5h8BF8AYjZdx8L812q0ddyNlM9Cfy-upkOAO1Bx5SI8X8WkoHX2r90INRBCIPh5sqOm_vUZIE4fdzX54Bsa35V3z9S8JcHAte0uyM3SkFP3bYwzV3iRDgg5-naUqRPSoaORsj-SxeT3o8n04kuvg9MwwIOWuOx0fKtEQdJXTzeiAhRbUEQUYGlDdAC6Gz-L16OMgLWUhX-eiLHGjarm6wq-brnrfdDZqJ2XfAeZ04QIFpEl7kOh1Mhj7MZMx-LZy7itR7xG1nd_nE-ZP6-O_3mgWxWxISP-3AXjD1MOPl5z7c_T89TYIAM8oHSf-1fkNkWgwA8G0frdh2EKeOFexKGjPQO3aNPeYWBaGJ1NQHij-RmtXstHX3-qiy32NT2sheMgNcSfmlPQqAEhU3Md45JUFyBacgbJEYq6ygQUSvyNGAeQVEMJ8VBWa6jvuqKXGYVIaNvn-7CWYDhJBKHJXtqfhXndGCBf_6VMqpWfEBB2awzpep0knZTKggZp-ppDJAjrm_RntFEgEIOoc69CekpU9oNV9cFFL6nl3oPNq1Qw1tkjtpJSbLwQAYNyo1qy1Z95xWt4TcOe7EvlSRMOUuREUYc0IUOJfvXeJbSe0BcWUXG_7Vi8W3jyjTZIt9KrATt6jx09EbtzzgVfk2IJhWmPd0H3Y-Rohc\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
|||||||| parent of 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/scripts_2605322907/0_D_r_p_just-config_script-type_814276275/openidm_3290118515/recording.har
            "size": 1371,
            "text": "{\"_id\":\"a2b4d68f-ca4a-4078-b2d8-f610b54623a5\",\"_rev\":\"3a3bb2d9-1302-40f4-9e5f-a1dc6aff6ac0-3429\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1748967688823\",\"description\":\"phales@trivir.com's Fr[...]
