{
  "log": {
    "_recordingName": "config-manager/push/org-privileges/0_r_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "85aa7f57d20e37b9a3d0385b7306304b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6858564d-5e8a-4c51-a940-d8c4548b05f8"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"privilegeAssignments\",\"privilegeAssignments\":[{\"name\":\"ownerPrivileges\",\"privileges\":[\"owner-view-update-delete-orgs\",\"owner-create-orgs\",\"owner-view-update-delete-admins-and-members\",\"owner-create-admins\",\"admin-view-update-delete-members\",\"admin-create-members\"],\"relationshipField\":\"ownerOfOrg\"},{\"name\":\"adminPrivileges\",\"privileges\":[\"admin-view-update-delete-orgs\",\"admin-create-orgs\",\"admin-view-update-delete-members\",\"admin-create-members\"],\"relationshipField\":\"adminOfOrg\"}]}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/privilegeAssignments"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 493,
            "text": "{\"_id\":\"privilegeAssignments\",\"privilegeAssignments\":[{\"name\":\"ownerPrivileges\",\"privileges\":[\"owner-view-update-delete-orgs\",\"owner-create-orgs\",\"owner-view-update-delete-admins-and-members\",\"owner-create-admins\",\"admin-view-update-delete-members\",\"admin-create-members\"],\"relationshipField\":\"ownerOfOrg\"},{\"name\":\"adminPrivileges\",\"privileges\":[\"admin-view-update-delete-orgs\",\"admin-create-orgs\",\"admin-view-update-delete-members\",\"admin-create-members\"],\"relationshipField\":\"adminOfOrg\"}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 27,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
