{
  "log": {
    "_recordingName": "iga/glossary-import/0_n_f/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e8ed47f6f1e8c4c240fcd7d1e83f518b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"allowedValues\":[],\"description\":\"Test User Description\",\"displayName\":\"Test User Display Name\",\"enumeratedValues\":[],\"id\":\"d7339271-9089-4d65-90c1-9e9fa4458383\",\"isMultiValue\":false,\"managedObjectType\":\"/openidm/managed/user\",\"metadata\":{},\"name\":\"testUser\",\"objectType\":\"/openidm/managed/assignment\",\"searchable\":false,\"type\":\"managedObject\"}"
          },
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/glossary/schema/d7339271-9089-4d65-90c1-9e9fa4458383"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 69,
            "text": "{\"message\":\"Cannot read properties of undefined (reading '_source')\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"45-ZwTS0orWoDYmkvIr8+eny8IwvAo\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "fadfe861-4a1f-4493-9b8f-03d72e99dd2d"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 331,
      },
      {
        "_id": "8048dd9d7475581128e2f67497a71f4c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"[...]
