{
  "log": {
    "_recordingName": "iga/glossary-import/0_AD/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1673929e17ef56c1139289ae8190d850",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"allowedValues\":[\"high\",\"medium\",\"low\",\"null\"],\"description\":\"\",\"displayName\":\"Risk Level\",\"enumeratedValues\":[{\"text\":\"High\",\"value\":\"high\"},{\"text\":\"Medium\",\"value\":\"medium\"},{\"text\":\"Low\",\"value\":\"low\"},{\"text\":\"Other\",\"value\":\"null\"}],\"id\":\"0878ab02-208d-4aff-a770-a0b9c476db85\",\"isMultiValue\":false,\"metadata\":{\"createdDate\":\"2026-05-22T16:22:19.938426643Z\",\"modifiedDate\":\"2026-05-22T16:22:19.938429Z\"},\"name\":\"riskLevel\",\"objectType\":\"/openidm/managed/role\",\"searchable\":true,\"type\":\"string\"}"
          },
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/glossary/schema/0878ab02-208d-4aff-a770-a0b9c476db85"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 69,
            "text": "{\"message\":\"Cannot read properties of undefined (reading '_source')\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"45-ZwTS0orWoDYmkvIr8+eny8IwvAo\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "6578fbe0-59c6-403f-9761-7896b00edfec"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 251,
      },
      {
        "_id": "9f72688969fc721c4aa79939785c3965",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"[...]
