{
  "log": {
    "_recordingName": "iga/certification-delete/0_i/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c6ef9fe13bf6a651d26523d06d4c1bea",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/certification/template/96fb89d5-970e-47aa-94f2-8a4be03e1d33"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 140,
            "text": "{\"indexName\":\"trivir-fairfax_repo_governance_certtemplate_latest\",\"indices\":{\"latest\":\"trivir-fairfax_repo_governance_certtemplate_latest\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"8c-g+RD5xWswWNjcY5upjwg3gqCLx4\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "2b3b6524-c60b-452b-99db-826621888366"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 947,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
