{
  "log": {
    "_recordingName": "iga/glossary-describe/0_glossary-name/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b73b24c1feb376ab7e4850712afc1b3f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"targetFilter\":{\"operator\":\"AND\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"name\",\"targetValue\":\"riskLevel\"}}]}}"
          },
          "queryString": [
            {
              "name": "pageSize",
              "value": "10000"
            },
            {
              "name": "pageNumber",
              "value": "0"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/glossary/schema/search?pageSize=10000&pageNumber=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 605,
            "text": "{\"result\":[{\"allowedValues\":[\"high\",\"medium\",\"low\",\"null\"],\"description\":\"\",\"displayName\":\"Risk Level\",\"enumeratedValues\":[{\"text\":\"High\",\"value\":\"high\"},{\"text\":\"Medium\",\"value\":\"medium\"},{\"text\":\"Low\",\"value\":\"low\"},{\"text\":\"Other\",\"value\":\"null\"}],\"id\":\"e307820d-2e53-4889-a9e7-b9ad1232352c\",\"isMultiValue\":false,\"name\":\"riskLevel\",\"objectType\":\"/openidm/managed/role\",\"searchable\":true,\"type\":\"string\",\"metadata\":{\"modifiedDate\":\"2026-05-15T21:58:39.971100893Z\",\"createdDate\":\"2026-05-15T21:58:39.971098613Z\"}}],\"searchAfterKey\":[\"e307820d-2e53-4889-a9e7-b9ad1232352c\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"25d-2x/c4h/mJV+UqnEOWcaicwk1Wc0\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "3c371c08-2f74-45a8-82c0-2d5102cdeaed"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 189,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
