{
  "log": {
    "_recordingName": "iga/certification-import/0_certification-name_file_no-deps/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e5d1a7ce89514a5a9ce7561d45174224",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"allowBulkCertify\":false,\"allowPartialSignoff\":true,\"allowSelfCertification\":false,\"assignmentNotification\":\"emailTemplate/certificationAssigned\",\"assignmentNotificationIncludeManager\":false,\"certificationType\":\"entitlement\",\"defaultCertifierId\":\"managed/user/6b21c283-d491-4fd9-8322-898c171c7018\",\"defaultCertifierInfo\":{\"givenName\":\"Parent\",\"id\":\"6b21c283-d491-4fd9-8322-898c171c7018\",\"mail\":\"pholderness+poadmin@trivir.com\",\"sn\":\"Admin\",\"userName\":\"phh-parent-org-admin\"},\"description\":\"Entitlements Review - All Applications\",\"enableForward\":true,\"enableReassign\":true,\"escalationFrequency\":null,\"escalationNotification\":null,\"escalationOwner\":null,\"events\":{\"assignment\":{\"notification\":\"emailTemplate/certificationAssigned\"},\"reassign\":{\"notification\":\"emailTemplate/certificationReassigned\"}},\"exceptionDuration\":14,\"excludeConditionalAccess\":true,\"excludeRoleBasedAccess\":true,\"expirationAction\":null,\"expirationActionDelay\":0,\"expirationNotification\":null,\"expirationReassignee\":null,\"finalizeRule\":\"\",\"id\":\"97863303-dea3-48bf-af77-cacfaf9328a3\",\"initializeRule\":\"\",\"isEventBased\":false,\"metadata\":{},\"name\":\"phh-entitlement-assignment-certification\",\"ownerId\":\"managed/user/6b21c283-d491-4fd9-8322-898c171c7018\",\"ownerInfo\":{\"givenName\":\"Parent\",\"id\":\"6b21c283-d491-4fd9-8322-898c171c7018\",\"mail\":\"pholderness+poadmin@trivir.com\",\"sn\":\"Admin\",\"userName\":\"phh-parent-org-admin\"},\"reassignNotification\":\"emailTemplate/certificationReassigned\",\"reassignPermissions\":{\"certify\":true,\"claim\":true,\"comment\":true,\"delegate\":true,\"exception\":true,\"forward\":true,\"reassign\":true,\"reset\":true,\"revoke\":true,\"save\":true,\"signoff\":true},\"remediationDelay\":0,\"remediationRule\":\"BasicRevocation\",\"reminderFrequency\":0,\"reminderNotification\":null,\"requireJustification\":{\"exceptionAllowed\":true,\"revoke\":true},\"schedule\":null,\"scheduleId\":\"templateScheduleae1381d5cfad4374b3dc075605b1036d\",\"selfCertificationRule\":\"none\",\"skipInactiveCertifiers\":false,\"stageDuration\":14,\"stages\":[{\"certifierId\":null,\"certifierPath\":null,\"certifierScript\":null,\"certifierType\":\"entitlementOwner\"}],\"stagingEnabled\":true,\"status\":\"active\",\"targetFilter\":{\"application\":{\"operand\":{\"targetName\":\"authoritative\",\"targetValue\":false},\"operator\":\"EQUALS\"},\"decision\":{\"operand\":[],\"operator\":\"ALL\"},\"entitlement\":{\"operand\":[],\"operator\":\"ALL\"},\"memberOfOrg\":[],\"type\":[\"entitlementGrant\",\"ResourceGrant\"],\"user\":{\"operand\":[],\"operator\":\"ALL\"}},\"uiConfig\":{\"columnConfig\":{\"entitlements\":[\"user.user\",\"application.application\",\"entitlement.entitlement\",\"account.account\",\"review.flags\",\"review.comments\"]}}}"
          },
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/certification/template/97863303-dea3-48bf-af77-cacfaf9328a3"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 80,
            "text": "{\"message\":\"Cannot find template with id 97863303-dea3-48bf-af77-cacfaf9328a3.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"50-oHQchu7wggmW5rqr3Yfklz5NkYk\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "72820396-31ee-45b5-92bf-144556141f60"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 272,
      },
      {
        "_id": "c6995b4fa33d2f52d71cca4ff2357144",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"[...]
