{
  "log": {
    "_recordingName": "iga/workflow-publish/0_workflow-id/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4493130f860e0b9e553ac53b515d3542",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/workflow/testWorkflow5/draft"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 59,
            "text": "{\"message\":\"Workflow with id: testWorkflow5 was not found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"3b-qBpbruiB0bXLR2bVIOVJZfGP2Ns\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "9e1a3db7-76b3-4feb-b90f-9577262b954a"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 601,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
