{
  "log": {
    "_recordingName": "iga/config-import/0_config-key_file/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "838e908f528055a479bb4ec8327e62cd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"enableAutoId\":false,\"enableFeatureRecommendation\":true,\"featuresToSkipDuringRecommendation\":[\"_eventMetadata\",\"_rev\",\"accountStatus\",\"assignedDashboard\",\"cn\",\"entityType\",\"fr\",\"givenName\",\"id\",\"mail\",\"manager\",\"metadata\",\"sn\",\"userId\",\"userName\",\"passwordLastChangedTime\",\"passwordExpirationTime\",\"scopes\",\"adminOfOrg\",\"memberOfOrg\",\"ownerOfApp\",\"ownerOfOrg\",\"roles\",\"authzRoles\",\"applications\",\"assignments\",\"groups\",\"reports\"],\"highScorePercentThreshold\":80,\"lowScorePercentThreshold\":30,\"maxRecommendedFeatures\":10,\"mediumScorePercentThreshold\":50,\"roleMiningConfidenceThreshold\":0.75,\"roleMiningEntitlementThreshold\":1,\"roleMiningMembershipThreshold\":30,\"training_features_filter\":[\"user.managerId\"]}"
          },
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/config/iga_autoid_integration"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 706,
            "text": "{\"enableAutoId\":false,\"highScorePercentThreshold\":80,\"mediumScorePercentThreshold\":50,\"lowScorePercentThreshold\":30,\"training_features_filter\":[\"user.managerId\"],\"roleMiningConfidenceThreshold\":0.75,\"roleMiningMembershipThreshold\":30,\"roleMiningEntitlementThreshold\":1,\"enableFeatureRecommendation\":true,\"maxRecommendedFeatures\":10,\"featuresToSkipDuringRecommendation\":[\"_eventMetadata\",\"_rev\",\"accountStatus\",\"assignedDashboard\",\"cn\",\"entityType\",\"fr\",\"givenName\",\"id\",\"mail\",\"manager\",\"metadata\",\"sn\",\"userId\",\"userName\",\"passwordLastChangedTime\",\"passwordExpirationTime\",\"scopes\",\"adminOfOrg\",\"memberOfOrg\",\"ownerOfApp\",\"ownerOfOrg\",\"roles\",\"authzRoles\",\"applications\",\"assignments\",\"groups\",\"reports\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2c2-fOnIQGOTt6K0H6AA8PbbbKWWvB0\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "f52dde5c-3c86-4176-bf8b-eb818f1194ef"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2221,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
