{
  "log": {
    "_recordingName": "config-manager/export/raw/2_D/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "618034909c9f0d632327f41a6b7488ba",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/environment/release"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 47,
            "text": "{\"channel\":\"rapid\",\"currentVersion\":\"17994.0\"}"
          },
          "headers": [
            {
              "name": "content-api-version",
              "value": "resource=1.0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "875fe81a-cfd2-4e2d-afa5-f5716931536c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 75,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
