{
  "log": {
    "_recordingName": "iga/config-describe/0_config-key/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a420faa256b47a7c9c263de6eef315af",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/config/iga_notification"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 122,
            "text": "{\"notificationPollingBatchSize\":50,\"notificationSendDelay\":1000,\"notificationRetryDelay\":60000,\"notificationMaxRetries\":3}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"7a-d7njKNdGDpz6UVL8qNw+XAavXW8\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "7ceec608-7758-4011-be6b-d00bd9b33428"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 298,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
