{
  "log": {
    "_recordingName": "iga/request-type-import/0_af/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e08bc81022db9a3f287d1806f4dec74e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"custom\":true,\"displayName\":\"phhType\",\"id\":\"0ece99b4-5039-4bd6-b31c-de14bcf45f11\",\"metadata\":{},\"notModifiableProperties\":[],\"schemas\":{\"common\":[{\"_meta\":{\"displayName\":\"commonRequest\",\"properties\":{\"blob\":{\"isInternal\":true,\"isRequired\":false},\"context\":{\"display\":{\"description\":\"The context of the request\",\"isVisible\":true,\"name\":\"Context\",\"order\":1},\"isInternal\":true,\"isMultiValue\":false,\"isRequired\":false},\"endDate\":{\"display\":{\"description\":\"End date of the grant\",\"isVisible\":true,\"name\":\"End date\",\"order\":8},\"isInternal\":true,\"isRequired\":false},\"expiryDate\":{\"display\":{\"description\":\"User provided date on which the request will cancel\",\"isVisible\":true,\"name\":\"Request expiration date\",\"order\":7},\"isInternal\":true,\"isRequired\":false},\"externalRequestId\":{\"display\":{\"description\":\"The external ID for the request\",\"isVisible\":true,\"name\":\"External Request ID\",\"order\":4},\"isChangable\":false,\"isInternal\":true,\"isRequired\":false},\"isDraft\":{\"isInternal\":true,\"isRequired\":false},\"justification\":{\"display\":{\"description\":\"The reason for the request\",\"isVisible\":true,\"name\":\"Justification\",\"order\":3},\"isInternal\":true,\"isRequired\":false},\"priority\":{\"display\":{\"description\":\"The priority of the reqeust\",\"isVisible\":true,\"name\":\"Priority\",\"order\":6},\"isRequired\":false,\"text\":{\"defaultValue\":\"low\"}},\"requestIdPrefix\":{\"display\":{\"description\":\"Prefix for the request ID\",\"isVisible\":true,\"name\":\"Request ID prefix\",\"order\":5},\"isInternal\":true,\"isRequired\":false},\"startDate\":{\"display\":{\"description\":\"Start date of the grant\",\"isVisible\":true,\"name\":\"Start date\",\"order\":8},\"isInternal\":true,\"isRequired\":false},\"workflowId\":{\"display\":{\"description\":\"The ID key of the BPMN workflow\",\"isVisible\":true,\"name\":\"BPMN workflow ID\",\"order\":7},\"isChangable\":false,\"isInternal\":true,\"isRequired\":false}},\"type\":\"system\"},\"properties\":{\"blob\":{\"type\":\"object\"},\"context\":{\"type\":\"object\"},\"endDate\":{\"type\":\"text\"},\"expiryDate\":{\"type\":\"text\"},\"externalRequestId\":{\"type\":\"text\"},\"isDraft\":{\"type\":\"boolean\"},\"justification\":{\"type\":\"text\"},\"priority\":{\"type\":\"text\"},\"requestIdPrefix\":{\"type\":\"text\"},\"startDate\":{\"type\":\"text\"},\"workflowId\":{\"type\":\"text\"}}}],\"custom\":[{\"_meta\":{\"properties\":{\"phhText\":{\"display\":{\"isVisible\":true,\"name\":\"phhText\",\"order\":1},\"isInternal\":false,\"isMultiValue\":false,\"isRequired\":true}},\"type\":\"system\"},\"properties\":{\"phhText\":{\"type\":\"text\"}}}]},\"workflow\":{\"id\":\"phhFlow\"}}"
          },
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/requestTypes"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 992,
            "text": "[\"G9sJAMRqqb6+zL5xVYnNM6V1JE4xLiCKWxLuf631vlvjyJ0nk+YCPl8Qk0Siije88To9EEoiJHQs7dWbSwgQ8bZtY3/opuxOiOiXxNET4X9zKRcEgXYyud+2BA6tINCnmsbjKu8U/WzcyStVdqpsUHcUDfKqbvKiGQzAYWy8sEo3WlZzuva2JR81BYi3D45QT2ghA8QfartYWAPx9oevBUUJ8Ye4bQkCYRsiLcChdGjnEhOWit3SH5sfBEcHiqAg9od/+/+9Gl3LqK2B+IMOt+SW2pOCaOQ8EIcOJyaSN3JudQ3iD0bTwlNZr3Ho8KiDrubkKP5L/QGIjEN1LRBsla7H/TQq3iqDNayxfgIiQx5vISUOz5MNu3OicI7TYW8izY/EQY80YA8d6Aix4bjsZN8C15xhHs1O9s2g68/mRF17avRmZ3C0wBlhrTxLuI4FItA6Os1O9tfXQ4d9L5sIMJc4EppNKYMB4euNpYtdS1Y2n40h7xeeHC1DROKItEHNP2x66VHOlwSBuV3z51m02m/3ZSTTjNCZGyAQasplmZKRaO6403gI5NkPtAJKwnlmDZuXB0o4uFMJZeorwQYx5whWZROXyRw6XCznUbvCjvahPdGWViw5iAUhkhsPy/+stfWzZm7XNbSxe31xyTTM4OC60zzZZzNijyoRvMz9TMwlSa7kLkofGS8cR6IkI8z/eGny3l4ahet0D4xacDnD7iKqua1WJ0sptTLUZAEPrbK87nGmNKrbyRxG996rsnZO0iBf6cpq8oROsKyEpLJqqynV92t4r0OkckuHVkZYZwf7msxjfcWUPvizjvlvbb/G1/l2MrkHLBOwPlERc7mEh6WbDFJa8QTZtFWaMIx8mMeEnojomSARqpbvT+nDoUD7oIIYOKyoXRxfnlZpqWdBUSppPj+bQ2/+CMP+sOz0i85geD8YiSIXWdbNsvIVHB3C2Dz4O9lI9MfdfpaNirwcF69ICQ==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"9dc-4AaXdQHoM3TprVwjv1IwYCExgpM\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "4a88aabb-abfa-41f9-9a12-c608d757c8f4"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1316,
      },
      {
        "_id": "86e6b81d023083ba9337983e96e533ca",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/requestTypes/16356e2b-b98c-474c-98e3-e69d49cde401"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 347,
            "text": "{\"displayName\":\"test_request_type_4\",\"description\":\"This is a test request type\",\"id\":\"16356e2b-b98c-474c-98e3-e69d49cde401\",\"notModifiableProperties\":[],\"workflow\":{},\"schemas\":{},\"validation\":{},\"_rev\":5,\"customValidation\":null,\"custom\":false,\"metadata\":{\"modifiedDate\":\"2026-05-12T18:38:10.522Z\",\"createdDate\":\"2026-04-27T19:39:48.677638752Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"15b-CxGNvLkRvxH2F1XzWfQCovqvSnk\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "47009d9f-a50a-477b-a232-8302babaaa2b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 165,
      },
      {
        "_id": "0f23b8ddb3e4fa0e43776eb8a8bb1a22",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"operation\":\"replace\",\"field\":\"/customValidation\",\"value\":null},{\"operation\":\"remove\",\"field\":\"/schemas/custom\"},{\"operation\":\"replace\",\"field\":\"/custom\",\"value\":false}]"
          },
          "queryString": [
            {
              "name": "_useLowLevelApi",
              "value": "true"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/requestTypes/16356e2b-b98c-474c-98e3-e69d49cde401?_useLowLevelApi=true"
        },
        "response": {
 [...]
