{
  "log": {
    "_recordingName": "idm/schema-property-create/0_o_p_f/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-frodo-dev.forgeblocks.com/openidm/managed/svcacct/8a4fce63-e7f1-452c-a984-086150f83be0?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1312,
            "text": "{\"_id\":\"8a4fce63-e7f1-452c-a984-086150f83be0\",\"_rev\":\"140ec59e-7c33-4a61-a5b6-44934868b356-230\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1782747461119\",\"description\":\"volker.scheuber@pingidentity.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:dataset:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"e\\\":\\\"AQAB\\\",\\\"kty\\\":\\\"RSA\\\",\\\"n\\\":\\\"yKUN7H0d7KPBv-CQ4Sxg89WOcvMsLNX31dcsfIDWKbPQJYq8WD32GsiCfU8TB0RaQNU78SQLMMFCMGswsv7Ne59QBFS6Xrhugpxeb8LjrzPEzKqYcnxLdPPhsucOdmELwaMXi_yOWh8GSDKAd9Dp1YSi7vDGyCL35GvgY16PlxMJcqjWawHWIJl4fz9aU0LmZUV7jdlwX2Ww8V6wqUZUb-WpNAVKehAPY-JL6_uuuZpYm3OJqjfH5bL5JseZCaUAxxYpdpJDJ0XnrScS2XLkfvms096IjDf6WXEbt73SbnznDhBGl8rzvbjRTcDMoCH401tUF8pZH5wDqY8eKChXJSMTmDirX1VaTMK1R42epSb9OKJ4qkDLZx6z8BcA3L9qiq-mzIBnLsGqQ552fTowl67KgQKUTM9q21vMH-iXQTvx29b-y3aW6LiX1A7u3xMjlcIIfRrFzV-JXy6zFeJdcxKAubN0s9bpbVB2XOQd_EFbuAtnBTy1jebl0YPtAofg9bW_LkhD_mP1Q3f6Q0VAomwFERaVTWX2U_HcZK_oDEzj9GIx9NHIjIKs8rtVpD2QS91zXmLU3FgZM7SDP0DECJMqiLQPzEv9Y6AuMiB9rEYx8FBrRbzVuPadhu5dbkBVK-DAD1AIy8WAODMbtRa3Hu8u8LICSa2SDtnfookwfp8\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "<etag>"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 216,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "<transaction id>"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET[...]
