{
  "log": {
    "_recordingName": "mapping/import/0_f_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "68da4eee6cdfa1199ce90abc7fccda69",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-bf791c4e-412a-4c53-834d-65793cdd492a"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"mapping/managedUser_managedGroup\",\"consentRequired\":false,\"displayName\":\"managedUser_managedGroup\",\"icon\":null,\"name\":\"managedUser_managedGroup\",\"policies\":[{\"action\":\"ASYNC\",\"situation\":\"ABSENT\"},{\"action\":\"ASYNC\",\"situation\":\"ALL_GONE\"},{\"action\":\"ASYNC\",\"situation\":\"AMBIGUOUS\"},{\"action\":\"ASYNC\",\"situation\":\"CONFIRMED\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND_ALREADY_LINKED\"},{\"action\":\"ASYNC\",\"situation\":\"LINK_ONLY\"},{\"action\":\"ASYNC\",\"situation\":\"MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"TARGET_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"UNASSIGNED\"},{\"action\":\"ASYNC\",\"situation\":\"UNQUALIFIED\"}],\"properties\":[{\"source\":\"city\",\"target\":\"name\",\"transform\":{\"globals\":{},\"source\":\"// extract script test \\nsource\\n\",\"type\":\"text/javascript\"}}],\"source\":\"managed/user\",\"target\":\"managed/group\"}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/mapping/managedUser_managedGroup"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 939,
            "text": "{\"_id\":\"mapping/managedUser_managedGroup\",\"consentRequired\":false,\"displayName\":\"managedUser_managedGroup\",\"icon\":null,\"name\":\"managedUser_managedGroup\",\"policies\":[{\"action\":\"ASYNC\",\"situation\":\"ABSENT\"},{\"action\":\"ASYNC\",\"situation\":\"ALL_GONE\"},{\"action\":\"ASYNC\",\"situation\":\"AMBIGUOUS\"},{\"action\":\"ASYNC\",\"situation\":\"CONFIRMED\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND\"},{\"action\":\"ASYNC\",\"situation\":\"FOUND_ALREADY_LINKED\"},{\"action\":\"ASYNC\",\"situation\":\"LINK_ONLY\"},{\"action\":\"ASYNC\",\"situation\":\"MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"SOURCE_MISSING\"},{\"action\":\"ASYNC\",\"situation\":\"TARGET_IGNORED\"},{\"action\":\"ASYNC\",\"situation\":\"UNASSIGNED\"},{\"action\":\"ASYNC\",\"situation\":\"UNQUALIFIED\"}],\"properties\":[{\"source\":\"city\",\"target\":\"name\",\"transform\":{\"globals\":{},\"source\":\"// extract script test \\nsource\\n\",\"type\":\"text/javascript\"}}],\"source\":\"managed/user\",\"target\":\"managed/group\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 19,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
