{
  "log": {
    "_recordingName": "iga/glossary-describe/0_n/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b77f7e8a74c5028bd5b8dbe6c7385a51",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"targetFilter\":{\"operator\":\"AND\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"name\",\"targetValue\":\"riskScore\"}}]}}"
          },
          "queryString": [
            {
              "name": "pageSize",
              "value": "10000"
            },
            {
              "name": "pageNumber",
              "value": "0"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/glossary/schema/search?pageSize=10000&pageNumber=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 474,
            "text": "{\"result\":[{\"id\":\"0e1f922f-c9b9-40f2-964b-740f0ad47afb\",\"displayName\":\"Risk Score\",\"name\":\"riskScore\",\"description\":\"Risk Score\",\"objectType\":\"/iga/governance/account\",\"type\":\"float\",\"isMultiValue\":false,\"enumeratedValues\":[],\"searchable\":true,\"isInternal\":true,\"allowedValues\":[],\"metadata\":{\"modifiedDate\":\"2026-05-15T21:59:38.972Z\",\"createdDate\":\"2025-10-27T18:13:28.850616006Z\"}}],\"searchAfterKey\":[\"0e1f922f-c9b9-40f2-964b-740f0ad47afb\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1da-OnS4TjA6g/lAGgDeP3IevBzJCSk\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "1c012ff0-1150-46b2-ac8a-a703998e917c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 233,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
