{
  "log": {
    "_recordingName": "iga/events-import/0_i_f/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0bacdf90-1912-482c-a82b-4688b80eb145"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_fields",
              "value": "*"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/openidm/managed/svcacct/c61afdbd-7eef-4236-ab2c-5960b7d02221?_fields=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1401,
            "text": "{\"_id\":\"c61afdbd-7eef-4236-ab2c-5960b7d02221\",\"_rev\":\"4b511915-4e1b-406b-9258-7c9473b5a7de-32090\",\"accountStatus\":\"active\",\"name\":\"Frodo-SA-1778876871385\",\"description\":\"csong@trivir.com's Frodo Service Account\",\"scopes\":[\"fr:am:*\",\"fr:idc:analytics:*\",\"fr:autoaccess:*\",\"fr:idc:certificate:*\",\"fr:idc:content-security-policy:*\",\"fr:idc:cookie-domain:*\",\"fr:idc:custom-domain:*\",\"fr:idc:dataset:*\",\"fr:idc:esv:*\",\"fr:idm:*\",\"fr:iga:*\",\"fr:idc:promotion:*\",\"fr:idc:release:*\",\"fr:idc:sso-cookie:*\"],\"jwks\":\"{\\\"keys\\\":[{\\\"kty\\\":\\\"RSA\\\",\\\"kid\\\":\\\"YtT_F9fmfkxt2SrxxETmaX52ZaHGNqlQV_UvluJYZDs\\\",\\\"alg\\\":\\\"RS256\\\",\\\"e\\\":\\\"AQAB\\\",\\\"n\\\":\\\"s72snqgZz78qxeuqFjopBQyLyb0xUqiMMZgEwD955zk3_HJWBpOQBt1EDchXwkuZ1TdSGLLCSvCWJyQc_gEXGxqQSKZj0rdeQWkotoVAs0QupoCdTKiE8JYN_8vUyI6Y1ixqzbElzJ8ILO6hGv96G-V6AE9sVZ3OUmN6JVlBfV2PqYLtU3LovfiQzk7evXEUNTMSNIue-Ycx5GKk4HY0skBb9ozt-t5Gnv3-t--nUISTwVWz_z6IzAQjkoJoDGMI_rgCnD9bxgqEysV_0AZbW_umfz2LoWE2NwlDIwoXEMrnwcDInkZt85Tr9kNncTxedp7lOvROZtIlzguevOAFUA4zbaScJhEAfyevLCz4kpzAl4UC56BDAtAvR2xTLa_S3yqoafAD1VCiDdy8z_Ytzse7ua3_5rJYhZqX4irdIXAyqWQqVwzRC7SOQ_4Ko6hhVFAQngaDzQBKFeL-D9dbwf_lDRTt9W0OLbW3uuKZtaWXg9Onc-7E6XZ0vetsxcKIBdjFLjfDUoCzcPaJ_3QyldCXIauLZqcxygMi0qPuSR_txoy3OvY5qqbWF3SyhyJRynv0YroeUM9dJ4DYhbswlyuZSzMZMEv3f-BHoEHxDcS3hqQff_ihDK9kKgqx2JzjItasoveYrOORqiaU8Xs5hyiTnveisJT-Gz_ajteH1RM\\\"}]}\",\"maxCachingTime\":\"15\",\"maxIdleTime\":\"15\",\"maxSessionTime\":\"15\",\"quotaLimit\":\"5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"4b511915-4e1b-406b-9258-7c9473b5a7de-32090\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0bacdf90-1912-482c-a82b-4688b80eb145"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 199,
      },
      {
        "_id": "9cb8561357870863838a9948da32d1e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-0bacdf90-1912-482c-a82b-4688b80eb145"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ][...]
