{
  "log": {
    "_recordingName": "iga/events-import/0_af/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "14668229c4ae17b47099d958ef252ad3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"action\":{\"name\":\"testWorkflow4\",\"parameters\":{\"var1\":\"val1\",\"var2\":\"val2\",\"var3\":\"val3\"},\"type\":\"orchestration\"},\"condition\":{\"filter\":{\"or\":[{\"contains\":{\"in_string\":\"user.after.city\",\"search_string\":{\"literal\":\"a\"}}},{\"not_contains\":{\"in_string\":\"user.after.city\",\"search_string\":{\"literal\":\"b\"}}},{\"equals\":{\"left\":\"user.after.city\",\"right\":{\"literal\":\"c\"}}},{\"not_equals\":{\"left\":\"user.after.city\",\"right\":{\"literal\":\"d\"}}},{\"starts_with\":{\"prefix\":{\"literal\":\"e\"},\"value\":\"user.after.city\"}},{\"ends_with\":{\"suffix\":{\"literal\":\"f\"},\"value\":\"user.after.city\"}},{\"and\":[{\"gte\":{\"left\":\"user.after.frIndexedInteger1\",\"right\":{\"literal\":1}}},{\"gt\":{\"left\":\"user.after.frIndexedInteger1\",\"right\":{\"literal\":2}}},{\"lte\":{\"left\":\"user.after.frIndexedInteger1\",\"right\":{\"literal\":3}}},{\"lt\":{\"left\":\"user.after.frIndexedInteger1\",\"right\":{\"literal\":4}}}]}]},\"version\":\"v2\"},\"description\":\"\",\"entityType\":\"user\",\"id\":\"042e413a-cd1d-4ad3-a2f8-c05fda2067af\",\"metadata\":{},\"mutationType\":\"create\",\"name\":\"test_events_1\",\"owners\":[{\"givenName\":\"Preston\",\"id\":\"managed/user/0f325c99-6965-4f45-b1e4-f9db1fa4dcf6\",\"mail\":\"test@test.com\",\"sn\":\"Test\",\"userName\":\"PrestonIGATestUser\"}],\"status\":\"active\"}"
          },
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/event/042e413a-cd1d-4ad3-a2f8-c05fda2067af"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 648,
            "text": "[\"G68EAMT/n6o/7XdGrZgpmfJ718Hi4eCC/OFJKRzm/5og/9Qb5EyrNAHTDqPxztqObPn8zwY8GtAsSqdzm4VisLnDddj0aEQ8Q/4PyAinLgQJpsDfF38y5+WhhQDjEyEjNuUrSGzqXEFgU74eoAYNXIMkwE9XgsTi53sK7JWvQRK4fXAWZISxZyYPGbF4yN8R8+JYWefwPuumwN66AyTWQD7/uH0sny0/QUDETpjViSh+9OefIaGQUhIRbuEJFNm79H9VZ7j1MxkOjVeMy4aEnhtAQTT/mvxTwvRg+R4y4urJ2Ef+ISEJVCtb5IABGpDTRh9WQ804yukdW3BgWpDXG//SaXok/dIxHchX3NTKejswEKhbPIejN70xTkfalNLf9DcJyCkegMRWIwloEQr1mm+7AAFybPnpS55cxRrIQ8BqSJRtTW3VqGzWlc5apZtM1WbM5rIzWtVlPygDgQux0ooVZEwCl5VzjMPkpQNGBJHXN020keMwVRD4Xya7i57dyL2bGv3gKfDiokkVC3sBXayBfFGapu7m3S7rd32Xtabtsn1FbWZ2el8Z1erZ9BC4KHt2CnvDFDiflwsEgoPEFwoMQTinQb+8u/1Cgb8G8kh/BQIrXgPkAbV5IwhMnjbIJgE=\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4b0-MXIBOqOpYr9ErEYhOHxvg4IZcAw\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "74403221-3054-4fea-bc11-25701c146f6d"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1209,
      },
      {
        "_id": "4e7ec1275966c5fab9feee9085a61e88",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"action\":{\"template\":{\"allowBulkCertify\":true,\"allowPartialSignoff\":true,\"allowSelfCertification\":false,\"assignmentNotification\":\"emailTemplate/certificationAssigned\",\"assignmentNotificationIncludeManager\":false,\"certificationType\":\"identity\",\"defaultCertifierId\":\"managed/user/0f2b6cba-0124-4846-afc2-f944acf09c58\",\"defaultCertifierInfo\":{\"givenName\":\"ChildOne\",\"id\":\"0f2b6cba-0124-4846-afc2-f944acf09c58\",\"mail\":\"pholderness+c1admin@trivir.com\",\"sn\":\"Admin\",\"userName\":\"phh-child1-org-admin\"},\"description\":\"The user's sunset date has changed. Certify access.\",\"enableForward\":true,\"enableReassign\":true,\"escalationFrequency\":null,\"escalationNotification\":null,\"escalationOwner\":null,\"events\":{\"assignment\":{\"notification\":\"emailTemplate/certificationAssigned\"},\"reassign\":{\"notification\":\"emailTemplate/certificationReassigned\"}},\"exceptionDuration\":14,\"excludeConditionalAccess\":true,\"excludeRoleBasedAccess\":true,\"expirationAction\":null,\"expirationActionDelay\":0,\"expirationNotification\":null,\"expirationReassignee\":null,\"finalizeRule\":\"\",\"id\":\"951e75c6-694f-4aed-8ef5-7c9257466743\",\"initializeRule\":\"\",\"isEventBased\":false,\"metadata\":{},\"name\":\"Sunset date change {{YYYY-MM-DD}} for {{IGA_PARAM_userDisplayName_IGA_PARAM}}\",\"ownerId\":\"managed/user/0f2b6cba-0124-4846-afc2-f944acf09c58\",\"ownerInfo\":{\"givenName\":\"ChildOne\",\"id\":\"0f2b6cba-0124-4846-afc2-f944acf09c58\",\"mail\":\"pholderness+c1admin@trivir.com\",\"sn\":\"Admin\",\"userName\":\"phh-child1-org-admin\"},\"parameters\":[{\"displayName\":\"ID of user this campaign will target\",\"id\":\"userId\",\"type\":\"string\"},{\"displayName\":\"Name of the event triggering this campaign\",\"id\":\"eventName\",\"type\":\"string\"},{\"displayName\":\"Display friendly name of user this campaign targets\",\"id\":\"userDisplayName\",\"type\":\"string\"}],\"reassignNotification\":\"emailTemplate/certificationReassigned\",\"reassignPermissions\":{\"certify\":true,\"claim\":true,\"comment\":true,\"delegate\":true,\"exception\":true,\"forward\":true,\"reassign\":true,\"reset\":true,\"revoke\":true,\"save\":true,\"signoff\":true},\"remediationDelay\":0,\"remediationRule\":\"BasicRevocation\",\"reminderFrequency\":0,\"reminderNotification\":null,\"requireJustification\":{\"exceptionAllowed\":true,\"revoke\":true},\"selfCertificationRule\":\"none\",\"skipInactiveCertifiers\":false,\"stageDuration\":14,\"stages\":[{\"certifierId\":null,\"certifierPath\":null,\"certifierScript\":null,\"certifierType\":\"manager\"}],\"stagingEnabled\":false,\"status\":\"active\",\"targetFilter\":{\"account\":{\"operand\":[],\"operator\":\"ALL\"},\"application\":{\"operand\":{\"targetName\":\"authoritative\",\"targetValue\":false},\"operator\":\"EQUALS\"},\"decision\":{\"operand\":[],\"operator\":\"ALL\"},\"entitlement\":{\"operand\":[],\"operator\":\"ALL\"},\"memberOfOrg\":[],\"role\":{\"operand\":[],\"operator\":\"ALL\"},\"type\":[\"accountGrant\",\"entitlementGrant\",\"roleMembership\",\"AccountGrant\",\"ResourceGrant\"],\"user\":{\"operand\":{\"targetName\":\"id\",\"targetValue\":\"{{IGA_PARAM_userId_IGA_PARAM}}\"},\"operator\":\"EQUALS\"}},\"templateEventType\":\"user\",\"uiConfig\":{\"columnConfig\":{\"accounts\":[\"user.user\",\"application.application\",\"review.flags\",\"review.comments\"],\"entitlements\":[\"user.user\",\"application.application\",\"entitlement.entitlement\",\"account.account\",\"review.flags\",\"review.comments\"],\"roles\":[\"role.role\",\"user.user\",\"review.flags\",\"review.comments\"]}}},\"type\":\"certification\"},\"condition\":{\"filter\":{\"or\":[{\"not_equals\":{\"left\":\"user.before.frIndexedDate4\",\"right\":\"user.after.frIndexedDate4\"}}]},\"version\":\"v2\"},\"description\":\"Certify access when a user's sunset date changes\",\"entityType\":\"user\",\"id\":\"3e0cddc2-6797-42a1-b95e-aa5201837467\",\"metadata\":{},\"mutationType\":\"update\",\"name\":\"phh-sunset-date-change\",\"owners\":[{\"givenName\[...]
