{
  "log": {
    "_recordingName": "config/import/0_AdD_dry-run_compare-and-delete_m_include-active-values_show-detail/oauth2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a684e2f67fd67a4263878c3124af167a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-cd2810e7-c882-4bfc-a972-e6aeb5d1bdeb"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "redirect_uri=https://platform.dev.trivir.com/platform/appAuthHelperRedirect.html&scope=fr:idm:* openid&response_type=code&client_id=idm-admin-ui&csrf=h9Zurd9vr1JCkxmFfnPF1vhaFzw.*AAJTSQACMDIAAlNLABxZTHV3d3ZvMVN0ZkNybUplcjQyZU1id1pVenc9AAR0eXBlAANDVFMAAlMxAAIwMQ..*&decision=allow&code_challenge=tKrmq3olo5D2y7Rdd51yR6lnvw2f5hh3Cko1YC2b31I&code_challenge_method=S256"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/am/oauth2/authorize"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
            {
              "expires": "1970-01-01T00:00:00.000Z",
              "httpOnly": true,
              "name": "OAUTH_REQUEST_ATTRIBUTES",
              "path": "/",
              "sameSite": "none",
              "secure": true,
              "value": "<cookie>"
            }
          ],
          "headers": [
            {
              "name": "location",
              "value": "https://platform.dev.trivir.com/platform/appAuthHelperRedirect.html?code=ygw-SVy-o3O1FfpkRFs68TeFCeM&iss=https%3A%2F%2Fplatform.dev.trivir.com%2Fam%2Foauth2&client_id=idm-admin-ui"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 11,
      },
      {
        "_id": "ff75519a93ccab829f8ee8cf5e92b49f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-cd2810e7-c882-4bfc-a972-e6aeb5d1bdeb"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "client_id=idm-admin-ui&redirect_uri=https://platform.dev.trivir.com/platform/appAuthHelperRedirect.html&grant_type=authorization_code&code=ygw-SVy-o3O1FfpkRFs68TeFCeM&code_verifier=h0EDHRwuDpj56h8lVDpF705tx9wL0QsKlkTmNd38Z2s"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/am/oauth2/access_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1249,
            "text": "{\"access_token\":\"<access token>\",\"scope\":\"openid fr:idm:*\",\"id_token\":\"<id token>\",\"token_type\":\"Bearer\",\"expires_in\":239}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 23,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
