{
  "log": {
    "_recordingName": "config-manager/push/email-templates/0_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ba38e2cf03ee5dc29ee1ce3d7080c00e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a23d05b9-9482-4442-84a9-b6f61164b2e0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"emailTemplate/forgottenUsername\",\"defaultLocale\":\"en\",\"enabled\":true,\"from\":\"\",\"html\":{\"en\":{\"file\":\"forgottenUsername.en.html\"},\"fr\":{\"file\":\"forgottenUsername.fr.html\"}},\"message\":{\"en\":{\"file\":\"forgottenUsername.en.md\"},\"fr\":{\"file\":\"forgottenUsername.fr.md\"}},\"mimeType\":\"text/html\",\"styles\":{\"file\":\"forgottenUsername.css\"},\"subject\":{\"en\":\"Account Information - username\",\"fr\":\"Informations sur le compte - nom d'utilisateur\"}}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/emailTemplate/forgottenUsername"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 441,
            "text": "{\"_id\":\"emailTemplate/forgottenUsername\",\"defaultLocale\":\"en\",\"enabled\":true,\"from\":\"\",\"html\":{\"en\":{\"file\":\"forgottenUsername.en.html\"},\"fr\":{\"file\":\"forgottenUsername.fr.html\"}},\"message\":{\"en\":{\"file\":\"forgottenUsername.en.md\"},\"fr\":{\"file\":\"forgottenUsername.fr.md\"}},\"mimeType\":\"text/html\",\"styles\":{\"file\":\"forgottenUsername.css\"},\"subject\":{\"en\":\"Account Information - username\",\"fr\":\"Informations sur le compte - nom d'utilisateur\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 24,
      },
      {
        "_id": "a1cdf3cfe306ab6d6bff52d90dac6ae6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-a23d05b9-9482-4442-84a9-b6f61164b2e0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],[...]
