{
  "log": {
<<<<<<<< HEAD:test/e2e/mocks/config-manager_4167095917/push_2272264157/raw_1140790001/0_E_D_2552212444/am_1076162899/recording.har
    "_recordingName": "config-manager/push/raw/0_E_D/am",
|||||||| parent of 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/scripts_2605322907/0_D_n_364660693/am_1076162899/recording.har
    "_recordingName": "config-manager/export/scripts/0_D_n/am",
========
    "_recordingName": "config-manager/pull/secret-mappings/0_directory/am",
>>>>>>>> 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/secret-mappings_2964824403/0_directory_3082535603/am_1076162899/recording.har
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ccd7a5defd0fdeaa986a2b54642d911a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
<<<<<<<< HEAD:test/e2e/mocks/config-manager_4167095917/push_2272264157/raw_1140790001/0_E_D_2552212444/am_1076162899/recording.har
              "value": "<user agent>"
|||||||| parent of 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/scripts_2605322907/0_D_n_364660693/am_1076162899/recording.har
              "value": "@rockcarver/frodo-lib/3.3.0"
========
              "value": "@rockcarver/frodo-lib/4.0.0-39"
>>>>>>>> 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/secret-mappings_2964824403/0_directory_3082535603/am_1076162899/recording.har
            },
            {
              "name": "x-forgerock-transactionid",
<<<<<<<< HEAD:test/e2e/mocks/config-manager_4167095917/push_2272264157/raw_1140790001/0_E_D_2552212444/am_1076162899/recording.har
              "value": "<transaction id>"
|||||||| parent of 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/scripts_2605322907/0_D_n_364660693/am_1076162899/recording.har
              "value": "frodo-aca38471-23ba-4869-8201-30d61b1c195e"
========
              "value": "frodo-e2ae69e5-322d-44ce-892b-5f0947c7c621"
>>>>>>>> 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/secret-mappings_2964824403/0_directory_3082535603/am_1076162899/recording.har
            },
            {
              "name": "accept-api-version",
              "value": "resource=1.1"
            },
            {
              "name": "accept-encoding",
              "value": "gzip, compress, deflate, br"
            },
            {
              "name": "host",
              "value": "openam-frodo-dev.forgeblocks.com"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-demo.forgeblocks.com/am/json/serverinfo/*"
        },
        "response": {
<<<<<<<< HEAD:test/e2e/mocks/config-manager_4167095917/push_2272264157/raw_1140790001/0_E_D_2552212444/am_1076162899/recording.har
|||||||| parent of 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/scripts_2605322907/0_D_n_364660693/am_1076162899/recording.har
========
>>>>>>>> 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/secret-mappings_2964824403/0_directory_3082535603/am_1076162899/recording.har
          "content": {
            "mimeType": "application/json;charset=UTF-8",
<<<<<<<< HEAD:test/e2e/mocks/config-manager_4167095917/push_2272264157/raw_1140790001/0_E_D_2552212444/am_1076162899/recording.har
            "size": 636,
            "text": "{\"_id\":\"*\",\"_rev\":\"-660094397\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\":\"false\",\"selfRegistration\":\"false\",\"lang\":\"en-US\",\"successfulUserRegistrationDestination\":\"default\",\"socialImplementations\":[],\"referralsEnabled\":\"false\",\"zeroPageLogin\":{\"enabled\":false,\"refererWhitelist\":[],\"allowedWithoutReferer\":true},\"realm\":\"/\",\"xuiUserSessionValidationEnabled\":true,\"fileBasedConfiguration\":true,\"userIdAttributes\":[],\"cloudOnlyFeaturesEnabled\":true,\"oauth2AIAgentsEnabled\":true,\"cdkDeployment\":false}"
|||||||| parent of 68ddd5f56 (bugfix: realm flag removed for use of realm argument):test/e2e/mocks/config-manager_4167095917/pull_2167214206/scripts_2605322907/0_D_n_364660693/am_1076162899/recording.har
            "size": 553,
            "text": "{\"_id\":\"*\",\"_rev\":\"1874515102\",\"domains\":[],\"protectedUserAttributes\":[\"telephoneNumber\",\"mail\"],\"cookieName\":\"6ac6499e9da2071\",\"secureCookie\":true,\"forgotPassword\":\"false\",\"forgotUsername\":\"false\",\"kbaEnabled\"[...]
