{
  "log": {
    "_recordingName": "config-manager/push/managed-objects/0_n_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3c20af710b5e37ded5481a1997679597",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-7cfa63f0-8e43-4abc-b521-4e2f4a1f983e"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"managed\",\"objects\":[]}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/managed"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 30,
            "text": "{\"_id\":\"managed\",\"objects\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 26,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
