{
  "log": {
    "_recordingName": "iga/request-form-export/0_request-form-name_no-deps_f/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "16a0880aeaeb6141925e7e9cf72fb4b8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"test\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/requestForms?_queryFilter=name%20eq%20%22test%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 393,
            "text": "{\"totalCount\":1,\"resultCount\":1,\"result\":[{\"name\":\"test\",\"type\":\"request\",\"description\":\"\",\"categories\":{\"applicationType\":null,\"objectType\":null,\"operation\":\"create\",\"requestType\":\"47b0e373-a9df-477d-986f-4aa64317ebed\"},\"form\":{},\"id\":\"05b1bc14-6406-49a7-933a-97868f9e567c\",\"_rev\":1,\"metadata\":{\"modifiedDate\":\"2026-05-07T16:23:51.516765262Z\",\"createdDate\":\"2026-05-07T16:23:51.51674347Z\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"189-0FAyTOgZT/MzUQuSdmvV3aIa1q4\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "cf1daf37-446b-4c2b-a7b7-f0994e8ad833"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 172,
      },
      {
        "_id": "526e2e28e7f2b8ec60424dfa0cb0715a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "formId eq \"05b1[...]
