{
  "log": {
    "_recordingName": "iga/glossary-describe/0_i/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "acdca0d0811eab9a153a3c09e25316e3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/glossary/schema/11fee6b2-bf06-4560-b2ae-3e27cec169f2"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 382,
            "text": "{\"allowedValues\":[],\"description\":\"Testing\",\"displayName\":\"CP Dummy Entitlement\",\"enumeratedValues\":[],\"id\":\"11fee6b2-bf06-4560-b2ae-3e27cec169f2\",\"isMultiValue\":false,\"name\":\"CP-DummyEntitlement\",\"objectType\":\"/openidm/managed/assignment\",\"searchable\":true,\"type\":\"string\",\"metadata\":{\"modifiedDate\":\"2026-05-15T21:58:40.991025627Z\",\"createdDate\":\"2026-05-15T21:58:40.991024766Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"17e-utBFhL7s0SGT0cK5HZAV1OQ9YSI\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "1b812e20-c4e2-4617-b20c-d5bcd1d9d4ff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 184,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
