{
  "log": {
    "_recordingName": "iga/config-import/0_all-separate_directory/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d9b0603f6ad83f80b795918848ec7d3e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"undefined\":{\"config\":{\"feature_recommendation\":{}},\"meta\":{\"exportDate\":\"2026-05-22T18:26:20.604Z\",\"exportTool\":\"frodo\",\"exportToolVersion\":\"v4.0.0-39 [v24.13.0]\",\"exportedBy\":\"dsevy@trivir.com\",\"origin\":\"https://openam-trivir-fairfax.forgeblocks.com/am\",\"originAmVersion\":\"9.0.0\"}}}"
          },
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/config"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2,
            "text": "{}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2-vyGp6PvFo4RvsFtPoIWeCReyIC8\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "3b41292f-c52a-4890-86fb-b6034800ca8a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 214,
      },
      {
        "_id": "1b60566654153fbcb9cb428ed934b926",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"undefined\":{\"config\":{\"iga-file\":{}},\"meta\":{\"exportDate\":\"2026-05-22T18:26:20.994Z\",\"exportTool\":\"frodo\",\"exportToolVersion\":\"v4.0.0-39 [v24.13.0]\",\"exportedBy\":\"dsevy@trivir.com\",\"origin\":\"https://openam-trivir-fairfax.forgeblocks.com/am\",\"originAmVersion\":\"9.0.0\"}}}"
          },
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/config"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf[...]
