{
  "log": {
    "_recordingName": "iga/glossary-export/0_glossary-id/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "68f0a7d16e30ee81862109737cc20ad2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/glossary/schema/980b0308-32c8-44a3-86a4-0098d82b33bd"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 605,
            "text": "{\"allowedValues\":[\"sales\",\"finance\",\"hr\",\"null\"],\"description\":\"Application grant workflows example for LOB determines who it should go to\",\"displayName\":\"Line Of Business\",\"enumeratedValues\":[{\"text\":\"Sales\",\"value\":\"sales\"},{\"text\":\"Finance\",\"value\":\"finance\"},{\"text\":\"Human Resources\",\"value\":\"hr\"},{\"text\":\"Other\",\"value\":\"null\"}],\"id\":\"980b0308-32c8-44a3-86a4-0098d82b33bd\",\"isMultiValue\":false,\"name\":\"lineOfBusiness\",\"objectType\":\"/openidm/managed/application\",\"searchable\":true,\"type\":\"string\",\"metadata\":{\"modifiedDate\":\"2026-05-21T20:35:31.563Z\",\"createdDate\":\"2026-05-15T21:58:27.878701139Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"25d-9KGtHK3P5PB59LlFFXhQtxXrzDU\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "a51ce968-2302-402b-bc26-16de933ce239"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 164,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
