{
  "log": {
    "_recordingName": "iga/workflow-delete/0_workflow-id/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c2d59eb8491d34bc1cba664b89c28bb1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "(objectId sw \"workflow/testWorkflow4\")"
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/requestFormAssignments?_queryFilter=%28objectId%20sw%20%22workflow%2FtestWorkflow4%22%29&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 268,
            "text": "{\"totalCount\":1,\"resultCount\":1,\"result\":[{\"formId\":\"fa1a5e72-d803-4879-bc2a-07a5da3d8ee9\",\"objectId\":\"workflow/testWorkflow4/node/approvalTask-7e33e73d6763\",\"metadata\":{\"modifiedDate\":\"2026-03-05T15:56:22.385211851Z\",\"createdDate\":\"2026-03-05T15:56:22.385209715Z\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"10c-QTTg6qX52SVJ/TvM6du8i0cgGIE\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "0357a114-99c2-4700-a440-8bf653b176da"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 153,
      },
      {
        "_id": "ca2db1d5d39fddcf12ae43089d0bdc84",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/workflow/testWorkflow4/draft"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 59,
            "text": "{\"message\":\"Workflow with id: testWorkflow4 was not found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"3b-nTk+aHQMWE3wGXIf5iwPMd27YjI\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "1802d435-9499-4359-8a3c-3018cb5f15e6"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 357,
      },
      {
        "_id": "d426bd32e5f14fb65961e4ec48cbafe5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/workflow/testWorkflow4/published"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 4150,
            "text": "[\"G3FXAOTXt1lfv9bbg2MNOZx79qoKnWUuqsLcqSrHfgFvExvZDhRVuW+tN6NiTIyL/RuG54mEme7qwO4PbiImiIqwuqanlyAEJBkVoPHMPkp2eJIXBSTvWNjz7k65W2RT+Md2E6RtKnH0RF5BSajAo/NfjX1uO3NJgILmPU4KPl2GBZ8SoLCnwvg+zQPb2q/8ySujYfPjJ7u/nhCqlncOKTxZPEMVUnAeTw6qn68pwGcr+Fifebfn7nmRI2OYM5nlGUvLcLeD86YnNwsNTfbcPQMFH5ccVhagozZXvYLGF7/zeIoerRmxeaj00HUUzOCFiWiYm/v7h+2XNaR2D1BBO3St6roetU/mXd4KZClncRmlMNIAl/Owfre+3d+G[...]
