{
  "log": {
    "_recordingName": "iga/glossary-import/0_at_f/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f91d680fae8e2cc73bb45f739d8e1b43",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"allowedValues\":[\"high\",\"medium\",\"low\",\"null\"],\"description\":\"\",\"displayName\":\"Risk Level\",\"enumeratedValues\":[{\"text\":\"High\",\"value\":\"high\"},{\"text\":\"Medium\",\"value\":\"medium\"},{\"text\":\"Low\",\"value\":\"low\"},{\"text\":\"Other\",\"value\":\"null\"}],\"id\":\"0878ab02-208d-4aff-a770-a0b9c476db85\",\"isMultiValue\":false,\"metadata\":{},\"name\":\"riskLevel\",\"objectType\":\"/openidm/managed/role\",\"searchable\":true,\"type\":\"string\"}"
          },
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/glossary/schema/0878ab02-208d-4aff-a770-a0b9c476db85"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 69,
            "text": "{\"message\":\"Cannot read properties of undefined (reading '_source')\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"45-ZwTS0orWoDYmkvIr8+eny8IwvAo\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "19cf447e-ee22-4f42-b178-4a44b7e6c637"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 169,
      },
      {
        "_id": "999afd9c2368cf5f04d064c18abeacd6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"[...]
