{
  "log": {
    "_recordingName": "config-manager/push/cors/0_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "98a8ad692bb147024f667c6fb987d0c0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b8893221-360e-4a4f-8dd6-97c4f7b3dd98"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"servletfilter/cors\",\"filterClass\":\"org.eclipse.jetty.ee10.servlets.CrossOriginFilter\",\"initParams\":{\"allowCredentials\":false,\"allowedHeaders\":\"authorization,accept,content-type,origin,x-requested-with,cache-control,accept-api-version,if-match,if-none-match\",\"allowedMethods\":\"GET,POST,PUT,DELETE,PATCH\",\"allowedOrigins\":\"*\",\"chainPreflight\":false,\"exposedHeaders\":\"WWW-Authenticate\"},\"urlPatterns\":[\"/*\"]}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/servletfilter/cors"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 413,
            "text": "{\"_id\":\"servletfilter/cors\",\"filterClass\":\"org.eclipse.jetty.ee10.servlets.CrossOriginFilter\",\"initParams\":{\"allowCredentials\":false,\"allowedHeaders\":\"authorization,accept,content-type,origin,x-requested-with,cache-control,accept-api-version,if-match,if-none-match\",\"allowedMethods\":\"GET,POST,PUT,DELETE,PATCH\",\"allowedOrigins\":\"*\",\"chainPreflight\":false,\"exposedHeaders\":\"WWW-Authenticate\"},\"urlPatterns\":[\"/*\"]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 23,
      },
      {
        "_id": "d001635331024bc689770e0dde09f82a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-b8893221-360e-4a4f-8dd6-97c4f7b3dd98"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"\",\"_rev\":\"515901845\",\"_type\":{\"_id\":\"CorsService\",\"collection\":false,\"name\":\"CORS Service\"},\"enabled\":true,\"nextDescendents\":[{\"_id\":\"cors\",\"_type\":{\"_id\":\"configuration\",\"collection\":true,\"name\":\"Cors Configuration\"},\"acceptedHeaders\":[\"authorization\",\"x-openidm-username\",\"if-none-match\",\"x-openidm-nosession\",\"x-openidm-password\",\"accept-api-version\",\"x-requested-with\",\"content-type\",\"if-match\",\"cache-control\"],\"acceptedMethods\":[\"HEAD\",\"DELETE\",\"POST\",\"GET\",\"PUT\",\"PATCH\"],\"acceptedOrigins\":[\"http://localhost:8083\",\"http://localhost:8888\",\"http://localhost:8082\"],\"allowCredentials\":true,\"enabled\":true,\"exposedHeaders\":[\"WWW-Authenticate\"],\"maxAge\":600}]}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/CorsService"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 663,
            "text": "{\"_id\":\"CorsService\",\"_type\":{\"_id\":\"CorsService\",\"collection\":false,\"name\":\"CORS Service\"},\"enabled\":true,\"nextDescendents\":[{\"_id\":\"cors\",\"_type\":{\"_id\":\"configuration\",\"collection\":true,\"name\":\"Cors Configuration\"},\"acceptedHeaders\":[\"authorization\",\"x-openidm-username\",\"if-none-match\",\"x-openidm-nosession\",\"x-openidm-password\",\"accept-api-version\",\"x-requested-with\",\"content-type\",\"if-match\",\"cache-control\"],\"acceptedMethods\":[\"HEAD\",\"DELETE\",\"POST\",\"GET\",\"PUT\",\"PATCH\"],\"acceptedOrigins\":[\"http://localhost:8083\",\"http://localhost:8888\",\"http://localhost:8082\"],\"allowCredentials\":true,\"enabled\":true,\"exposedHeaders\":[\"WWW-Authenticate\"],\"maxAge\":600}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 26,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
