{
  "log": {
    "_recordingName": "iga/glossary-export/0_Nn_t/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "01b6762a7d1425e1ffb459405f856f23",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"targetFilter\":{\"operator\":\"AND\",\"operand\":[{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"name\",\"targetValue\":\"sensitive\"}},{\"operator\":\"EQUALS\",\"operand\":{\"targetName\":\"objectType\",\"targetValue\":\"/openidm/managed/assignment\"}}]}}"
          },
          "queryString": [
            {
              "name": "pageSize",
              "value": "10000"
            },
            {
              "name": "pageNumber",
              "value": "0"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/glossary/schema/search?pageSize=10000&pageNumber=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 518,
            "text": "{\"result\":[{\"allowedValues\":[\"yes\",\"no\"],\"description\":\"\",\"displayName\":\"Is Sensitive\",\"enumeratedValues\":[{\"text\":\"Yes\",\"value\":\"yes\"},{\"text\":\"No\",\"value\":\"no\"}],\"id\":\"a276bf0d-dafa-4302-ad0b-5e260c9239b0\",\"isMultiValue\":false,\"name\":\"sensitive\",\"objectType\":\"/openidm/managed/assignment\",\"searchable\":true,\"type\":\"string\",\"metadata\":{\"modifiedDate\":\"2026-05-21T20:35:34.589Z\",\"createdDate\":\"2026-05-15T21:58:26.748797257Z\"}}],\"searchAfterKey\":[\"a276bf0d-dafa-4302-ad0b-5e260c9239b0\"],\"totalCount\":1,\"resultCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"206-jeYGPBNPSFOhwwPaiUEf9UtrcqE\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "cd28d560-825a-44b3-8b27-4e7460f19818"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 255,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
