{
  "log": {
    "_recordingName": "iga/request-form-describe/0_name/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c089a6b522ce36e1318713cea06d6fa8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "name eq \"test_workflow_request_form_2\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/requestForms?_queryFilter=name%20eq%20%22test_workflow_request_form_2%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 386,
            "text": "{\"totalCount\":1,\"resultCount\":1,\"result\":[{\"categories\":{\"applicationType\":null,\"objectType\":null,\"operation\":\"create\"},\"description\":\"This is a test request form\",\"form\":{},\"id\":\"9e3fc668-4e96-4b03-9605-38b830bea26c\",\"name\":\"test_workflow_request_form_2\",\"type\":\"request\",\"_rev\":1,\"metadata\":{\"modifiedDate\":\"2026-05-07T16:10:15.349Z\",\"createdDate\":\"2026-05-07T16:05:26.861229338Z\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"182-NFahjOFJNz/p4brKgZGdUIQv8yU\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "bf810a49-8c5b-42b4-96a8-e3bfcf05a748"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 167,
      },
      {
        "_id": "56aba0f2a42a3781f54be2fa237ef6b8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "formId eq \"9e3fc668-4e96-4b03-9605-38b830bea26c\""
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/requestFormAssignments?_queryFilter=formId%20eq%20%229e3fc668-4e96-4b03-9605-38b830bea26c%22&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 479,
            "text": "{\"totalCount\":2,\"resultCount\":2,\"result\":[{\"formId\":\"9e3fc668-4e96-4b03-9605-38b830bea26c\",\"objectId\":\"workflow/testWorkflow1/node/fulfillmentTask-7fce35a32915\",\"metadata\":{\"modifiedDate\":\"2026-05-07T16:10:16.141Z\",\"createdDate\":\"2026-05-07T16:05:27.644621767Z\"}},{\"formId\":\"9e3fc668-4e96-4b03-9605-38b830bea26c\",\"objectId\":\"requestType/af4a6f84-f9a9-4f8d-82ae-649639debabc\",\"metadata\":{\"modifiedDate\":\"2026-05-07T16:10:17.168Z\",\"createdDate\":\"2026-05-07T16:05:28.632044255Z\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
   [...]
