{
  "log": {
    "_recordingName": "iga/config-export/0_Nn_D/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c432b3e2e87ced2be0a3f456852bdf98",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/config/iga_autoid_integration"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 706,
            "text": "{\"enableAutoId\":false,\"highScorePercentThreshold\":80,\"mediumScorePercentThreshold\":50,\"lowScorePercentThreshold\":30,\"training_features_filter\":[\"user.managerId\"],\"roleMiningConfidenceThreshold\":0.75,\"roleMiningMembershipThreshold\":30,\"roleMiningEntitlementThreshold\":1,\"enableFeatureRecommendation\":true,\"maxRecommendedFeatures\":10,\"featuresToSkipDuringRecommendation\":[\"_eventMetadata\",\"_rev\",\"accountStatus\",\"assignedDashboard\",\"cn\",\"entityType\",\"fr\",\"givenName\",\"id\",\"mail\",\"manager\",\"metadata\",\"sn\",\"userId\",\"userName\",\"passwordLastChangedTime\",\"passwordExpirationTime\",\"scopes\",\"adminOfOrg\",\"memberOfOrg\",\"ownerOfApp\",\"ownerOfOrg\",\"roles\",\"authzRoles\",\"applications\",\"assignments\",\"groups\",\"reports\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2c2-fOnIQGOTt6K0H6AA8PbbbKWWvB0\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "697cf81b-d686-4487-ac37-ec9bb50b7023"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 237,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
