{
  "log": {
    "_recordingName": "iga/scope-import/0_n_f/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "af55958a3898b129bc68978def6db818",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "_queryFilter",
              "value": "true"
            },
            {
              "name": "_pageSize",
              "value": "10000"
            },
            {
              "name": "_pagedResultsOffset",
              "value": "0"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/scope?_queryFilter=true&_pageSize=10000&_pagedResultsOffset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 66,
            "text": "{\"result\":[],\"searchAfterKey\":null,\"totalCount\":0,\"resultCount\":0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"42-6WyYF1p6hZFqH61y+4aiRN1wKRM\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "88b00678-d8a2-48ef-b7c0-0a53414eae1a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 153,
      },
      {
        "_id": "6581f594049458ed2dc837ac084c3e9b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"description\":\"test scope for contains filter\",\"id\":\"9ea91a47-1be1-4a70-8925-d25898a3c8d5\",\"metadata\":{},\"name\":\"contains-test\",\"sourceCondition\":{\"user\":{\"filter\":{\"or\":[{\"contains\":{\"in_string\":\"user._id\",\"search_string\":{\"literal\":\"\"}}}]},\"version\":\"v2\"}},\"status\":\"active\",\"targetCondition\":{}}"
          },
          "queryString": [
            {
              "name": "_action",
              "value": "create"
            }
          ],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/scope?_action=create"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 308,
            "text": "{\"description\":\"test scope for contains filter\",\"id\":\"c39062f0-ac60-4f72-ad8a-ef87bb8889b1\",\"metadata\":{},\"name\":\"contains-test\",\"sourceCondition\":{\"user\":{\"filter\":{\"or\":[{\"contains\":{\"in_string\":\"user._id\",\"search_string\":{\"literal\":\"\"}}}]},\"version\":\"v2\"}},\"status\":\"active\",\"targetCondition\":{},\"_rev\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"134-igJfgWQd+y9uVokCBDlSUE7ZB3Y\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "dcfc643d-a884-4314-8669-4486dd444490"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 569,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
