{
  "log": {
    "_recordingName": "config-manager/push/managed-objects/0_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "28beec56366a84317425e50212c6912f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-6b0ef61e-af78-4e7c-a62c-7c5be967d342"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"managed\",\"objects\":[{\"iconClass\":\"fa fa-database\",\"name\":\"PasswordPolicy\",\"schema\":{\"$schema\":\"http://forgerock.org/json-schema#\",\"description\":\"Object that defines a custom password policy for a particular group\",\"icon\":\"fa-key\",\"mat-icon\":\"\",\"order\":[\"title\",\"minLength\",\"minLetters\",\"minNumbers\",\"minLowercase\",\"minUppercase\",\"minSpecial\"],\"properties\":{\"minLength\":{\"default\":8,\"description\":\"The minimum required length of the password\",\"isVirtual\":false,\"policies\":[{\"params\":{\"minimum\":\"1\"},\"policyId\":\"minimumNumber\"}],\"searchable\":false,\"title\":\"Minimum Length\",\"type\":\"number\",\"userEditable\":false,\"viewable\":true},\"minLetters\":{\"default\":0,\"description\":\"The minimum required number of letters\",\"isVirtual\":false,\"policies\":[{\"params\":{\"minimum\":\"0\"},\"policyId\":\"minimumNumber\"}],\"searchable\":false,\"title\":\"Minimum Letters\",\"type\":\"number\",\"userEditable\":false,\"viewable\":true},\"minLowercase\":{\"default\":0,\"description\":\"The minimum required number of lowercase letters\",\"isVirtual\":false,\"policies\":[{\"params\":{\"minimum\":\"0\"},\"policyId\":\"minimumNumber\"}],\"searchable\":false,\"title\":\"Minimum Lowercase Letters\",\"type\":\"number\",\"userEditable\":false,\"viewable\":true},\"minNumbers\":{\"default\":0,\"description\":\"The minimum required number of numerical digits allowed\",\"isVirtual\":false,\"policies\":[{\"params\":{\"minimum\":\"0\"},\"policyId\":\"minimumNumber\"}],\"searchable\":false,\"title\":\"Minimum Numbers\",\"type\":\"number\",\"userEditable\":false,\"viewable\":true},\"minSpecial\":{\"default\":0,\"description\":\"The minimum required number of special characters\",\"isVirtual\":false,\"searchable\":false,\"title\":\"Minimum Special Characters\",\"type\":\"number\",\"userEditable\":false,\"viewable\":true},\"minUppercase\":{\"default\":0,\"description\":\"The minimum required number of uppercase letters\",\"isVirtual\":false,\"policies\":[{\"params\":{\"minimum\":\"0\"},\"policyId\":\"minimumNumber\"}],\"searchable\":false,\"title\":\"Minimum Uppercase Letters\",\"type\":\"number\",\"userEditable\":false,\"viewable\":true},\"title\":{\"description\":\"The password policy title/name\",\"format\":null,\"isVirtual\":false,\"searchable\":true,\"title\":\"Title\",\"type\":\"string\",\"userEditable\":false,\"viewable\":true}},\"required\":[\"title\"],\"title\":\"Password Policy\",\"type\":\"object\"},\"type\":\"Managed Object\"},{\"iconClass\":\"fa fa-database\",\"name\":\"SiteLocation\",\"schema\":{\"$schema\":\"http://forgerock.org/json-schema#\",\"description\":\"FCPS Site Location\",\"icon\":\"fa-map-marker\",\"order\":[\"custom_SiteLocation\",\"custom_Ad_Ou\",\"custom_Ad_Group\"],\"properties\":{\"custom_Ad_Group\":{\"searchable\":false,\"title\":\"AD Group\",\"type\":\"string\",\"userEditable\":true,\"viewable\":true},\"custom_Ad_Ou\":{\"searchable\":false,\"title\":\"AD OU\",\"type\":\"string\",\"userEditable\":true,\"viewable\":true},\"custom_SiteLocation\":{\"description\":null,\"format\":null,\"isVirtual\":false,\"searchable\":true,\"title\":\"Site Location\",\"type\":\"string\",\"userEditable\":true,\"viewable\":true}},\"required\":[\"custom_SiteLocation\",\"custom_Ad_Ou\",\"custom_Ad_Group\"],\"title\":\"SiteLocation\",\"type\":\"object\"},\"type\":\"Managed Object\"}]}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/managed"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 3003,
            "text": "{\"_id\":\"managed\",\"objects\":[{\"iconClass\":\"fa fa-database\",\"name\":\"PasswordPolicy\",\"schema\":{\"$schema\":\"http://forgerock.org/json-schema#\",\"description\":\"Object that defines a custom password policy for a particular group\",\"icon\":\"fa-key\",\"mat-icon\":\"\",\"order\":[\"title\",\"minLength\",\"minLetters\",\"minNumbers\",\"minLowercase\",\"minUppercase\",\"minSpecial\"],\"properties\":{\"minLength\":{\"default\":8,\"description\":\"The minimu[...]
