{
  "log": {
    "_recordingName": "iga/workflow-import/0_i_f/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "98e9870d9a09dccc2f491469cd37e878",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"custom\":true,\"displayName\":\"test_workflow_request_type_4\",\"id\":\"3eb082e7-68f2-409f-9423-26e771259dc8\",\"metadata\":{\"createdDate\":\"2026-03-05T15:56:44.548070781Z\"},\"schemas\":{\"common\":[{\"_meta\":{\"displayName\":\"commonRequest\",\"properties\":{\"blob\":{\"isInternal\":true,\"isRequired\":false},\"context\":{\"display\":{\"description\":\"The context of the request\",\"isVisible\":true,\"name\":\"Context\",\"order\":1},\"isInternal\":true,\"isMultiValue\":false,\"isRequired\":false},\"endDate\":{\"display\":{\"description\":\"End date of the grant\",\"isVisible\":true,\"name\":\"End date\",\"order\":8},\"isInternal\":true,\"isRequired\":false},\"expiryDate\":{\"display\":{\"description\":\"User provided date on which the request will cancel\",\"isVisible\":true,\"name\":\"Request expiration date\",\"order\":7},\"isInternal\":true,\"isRequired\":false},\"externalRequestId\":{\"display\":{\"description\":\"The external ID for the request\",\"isVisible\":true,\"name\":\"External Request ID\",\"order\":4},\"isChangable\":false,\"isInternal\":true,\"isRequired\":false},\"isDraft\":{\"isInternal\":true,\"isRequired\":false},\"justification\":{\"display\":{\"description\":\"The reason for the request\",\"isVisible\":true,\"name\":\"Justification\",\"order\":3},\"isInternal\":true,\"isRequired\":false},\"priority\":{\"display\":{\"description\":\"The priority of the reqeust\",\"isVisible\":true,\"name\":\"Priority\",\"order\":6},\"isRequired\":false,\"text\":{\"defaultValue\":\"low\"}},\"requestIdPrefix\":{\"display\":{\"description\":\"Prefix for the request ID\",\"isVisible\":true,\"name\":\"Request ID prefix\",\"order\":5},\"isInternal\":true,\"isRequired\":false},\"startDate\":{\"display\":{\"description\":\"Start date of the grant\",\"isVisible\":true,\"name\":\"Start date\",\"order\":8},\"isInternal\":true,\"isRequired\":false},\"workflowId\":{\"display\":{\"description\":\"The ID key of the BPMN workflow\",\"isVisible\":true,\"name\":\"BPMN workflow ID\",\"order\":7},\"isChangable\":false,\"isInternal\":true,\"isRequired\":false}},\"type\":\"system\"},\"properties\":{\"blob\":{\"type\":\"object\"},\"context\":{\"type\":\"object\"},\"endDate\":{\"type\":\"text\"},\"expiryDate\":{\"type\":\"text\"},\"externalRequestId\":{\"type\":\"text\"},\"isDraft\":{\"type\":\"boolean\"},\"justification\":{\"type\":\"text\"},\"priority\":{\"type\":\"text\"},\"requestIdPrefix\":{\"type\":\"text\"},\"startDate\":{\"type\":\"text\"},\"workflowId\":{\"type\":\"text\"}}}],\"custom\":[{}]},\"workflow\":{\"id\":\"testWorkflow4\"}}"
          },
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/governance/requestTypes"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 924,
            "text": "[\"GwoJAMT/puq0cm9GUemMKa1j6yvBBRzAPfz8sXS/Uvn/vaumorPOXxe1jSpoFFmWOB1OcMIjm43aeullAEMYufHHt1AdBHIaJE1GdVQ1fRYVSdtHbZHlUVZRXadZ2XbDBhzpFH72Uk4JAp6c/1oaO+4nZvllaXfj93z59Yy+CnD86ocQFPfk/BPJjxQIHF+WFhAphxv+0lQ6iC2GZjo1GuJti68peQmxhV/PCAJ7kRdDoQ/bLYSZ4EhV0auIJyYBUNWrofTKaDjf4G7pb64sdRC9nDjiUO5Ee7JaTiC8nZOyMYgttMK9p7zu41DuUTk1mBAZ7me/ACLn6NIbsM2ETsR9wRUPlc5o1htbqkgwVwIhcLgDdJickw5nlXJ7v1L/SBzwTwl2+4EMO2vmy072NdBaIMy52cm+GuD9C3XSXVvq1crQDE4fm/FThKuxpAiEKAPsZP+0P5Tbt7L3URAOHH05lbiRWNtxTaSIe2BlYhTWzbLN+4KlP5o7j8DhaYUat3a66VFO5gSBiVnq9UvRaqbsel96Cm60O2FIupTVsk560kRjnXhwZNlWW9aOw3JmNKvgA84dmNIEVyRL4hemOgkMsqrnUO5iPvHKFGphb99jrRg/A1NfACL2bIxy7NH9ry40sXt9cckktHDXWidP9tmYoofnSMBj4hOdDJI9ufPSehYXGhuGEhFGfqzUJl1K0h2uxT3QXYt0kutKDCZmEIgLCyEMZWCQRcJ7mNCXF/3PYX+nPTLZv9h+GAwSjzMwZkJSI/SvRLSC/oToD2xHCMPZqBmMaCgUI1OOmY8toVTGw6Jf0dZAhPISIXxwpJa6GcTbNnyEr2jHnzMlLzs5QoAjP1StLyFLsipKyigp7rNMFIkosp2sbl/BkX6K/M+vS0XZiqTeqco6qZo0bV4RAg==\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"90b-ziFSir9qceDgbhlNSyZDMJqxR6U\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "3f7dc4c8-63e1-497a-9a35-8a028289917b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2258,
      },
      {
        "_id": "671df05534586babffbde9fbac6c2157",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"custom\":true,\"displayName\":\"phh-create-user\",\"id\":\"8d0055b3-155f-4885-a415-4f1c536098e8\",\"metadata\":{\"createdDate\":\"2025-12-15T22:22:58.524157136Z\"},\"notModifiableProperties\":[],\"schemas\":{\"common\":[{\"_meta\":{\"displayName\":\"commonRequest\",\"properties\":{\"blob\":{\"isInternal\":true,\"isRequired\":false},\"context\":{\"display\":{\"description\":\"The context of the request\",\"isVisible\":true,\"name\":\"Context\",\"order\":1},\"isInternal\":true,\"isMultiValue\":false,\"isRequired\":false},\"endDate\":{\"display\":{\"description\":\"End date of the grant\",\"isVisible\":true,\"name\":\"End date\",\"order\":8},\"isInternal\":true,\"isRequired\":false},\"e[...]
