{
  "log": {
    "_recordingName": "config-manager/push/endpoints/0_D_m/openidm",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "742c14c5f13fd8ccba962d4980f3bd0a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-d88f8266-3d62-49e1-9ea6-d09e688e2785"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"_id\":\"endpoint/linkedView\",\"context\":\"endpoint/linkedView/*\",\"file\":\"linkedView.js\",\"type\":\"text/javascript\"}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/openidm/config/endpoint/linkedView"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 111,
            "text": "{\"_id\":\"endpoint/linkedView\",\"context\":\"endpoint/linkedView/*\",\"file\":\"linkedView.js\",\"type\":\"text/javascript\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "content-api-version",
              "value": "protocol=2.1,resource=1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 22,
      },
      {
        "_id": "8bb839367fdc2c5afcd0baed68595833",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "frodo-d88f8266-3d62-49e1-9ea6-d09e688e2785"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],[...]
