{
  "log": {
    "_recordingName": "iga/glossary-delete/0_i/iga",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "48fe65142138275bc84986cb2f424079",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/iga/commons/glossary/schema/c735842a-f695-493a-addc-8500d3babc57"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 439,
            "text": "{\"allowedValues\":[],\"description\":\"Test User Description\",\"displayName\":\"Test User Display Name\",\"enumeratedValues\":[],\"id\":\"c735842a-f695-493a-addc-8500d3babc57\",\"isMultiValue\":false,\"managedObjectType\":\"/openidm/managed/user\",\"name\":\"testUser\",\"objectType\":\"/openidm/managed/assignment\",\"searchable\":false,\"type\":\"managedObject\",\"metadata\":{\"modifiedDate\":\"2026-05-21T20:36:56.730620352Z\",\"createdDate\":\"2026-05-21T20:36:56.730618552Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1b7-m64Ew63DHYVFhqa8hwZMbz4DCoM\""
            },
            {
              "name": "x-forgerock-transactionid",
              "value": "6c8e973c-ea3b-4c77-b36c-991c341e668b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 671,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
