{
  "log": {
    "_recordingName": "conn/update/1_skip-prompts_log-api-key_log-api-secret/monitoring",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6279a0e7ee576e32c799947b0c2e5a64",
        "request": {
          "headers": [
            {
              "name": "x-api-key",
              "value": "<api key>"
            },
            {
              "name": "x-api-secret",
              "value": "<api secret>"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://openam-frodo-dev.forgeblocks.com/monitoring/logs/sources"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 371,
            "text": "{\"pagedResultsCookie\":null,\"remainingPagedResults\":0,\"result\":[\"am-access\",\"am-activity\",\"am-authentication\",\"am-config\",\"am-core\",\"am-everything\",\"environment-access\",\"idm-access\",\"idm-activity\",\"idm-authentication\",\"idm-config\",\"idm-core\",\"idm-everything\",\"idm-recon\",\"idm-sync\",\"iga-api\",\"jas\"],\"resultCount\":17,\"totalPagedResults\":1,\"totalPagedResultsPolicy\":\"NONE\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "60"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "28"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1782853518"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 363,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
