{
  "log": {
    "_recordingName": "config-manager/push/secrets/0_D_m/environment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "816cc699f6f22e5bd145f4c6a4258b9c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"valueBase64\":\"cGxhY2Vob2xkZXIgc2VjcmV0IHZhbHVl\",\"description\":\"Used in OSUserLogin journey. Not sure what this is used for.\\n\\n1/12/2026 Dylan Berry\",\"encoding\":\"generic\",\"useInPlaceholders\":true}"
          },
          "queryString": [],
          "url": "https://platform.dev.trivir.com/environment/secrets/esv-osaic-fradmin-serviceclient-secret"
        },
        "response": {
          "content": {
            "mimeType": "text/html",
            "size": 146,
            "text": "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404 Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 2,
      },
      {
        "_id": "563d49c758720f5b2532c03090d4276e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept-api-version",
              "value": "protocol=1.0,resource=1.0"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "PUT[...]
