{
  "log": {
    "_recordingName": "default",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d5dac29373cb328e77bd041f21a28f3a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer <bearer token>"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://openam-trivir-fairfax.forgeblocks.com/auto/orchestration/definition/createNonEmployee/draft"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 7667,
            "text": "{\"id\":\"createNonEmployee\",\"name\":\"CreateNonEmployee\",\"displayName\":\"CreateNonEmployee\",\"description\":\"CreateNonEmployee\",\"type\":\"provisioning\",\"childType\":false,\"_rev\":0,\"steps\":[{\"name\":\"approvalTask-74cf85c35437\",\"displayName\":\"Approval Task\",\"type\":\"approvalTask\",\"approvalTask\":{\"nextStep\":[{\"condition\":null,\"outcome\":\"REJECT\",\"step\":\"scriptTask-aec6c36b3a45\"},{\"condition\":null,\"outcome\":\"APPROVE\",\"step\":\"scriptTask-0359a9d77ee2\"}],\"approvalMode\":\"any\",\"actors\":{\"isExpression\":true,\"value\":\"(function() {\\n    var systemSettings = openidm.action('iga/commons/config/iga_access_request', 'GET', {}, {});\\n    return systemSettings.defaultApprover;\\n})()\\n\"},\"events\":{\"assignment\":{\"notification\":\"requestAssigned\"},\"expiration\":{\"action\":\"reject\",\"actors\":[],\"date\":{\"isExpression\":true,\"value\":\"(new Date(new Date().getTime()+(1*24*60*60*1000))).toISOString()\"},\"frequency\":1,\"notification\":\"requestExpired\"},\"reassign\":{\"notification\":\"requestReassigned\"},\"reminder\":{\"date\":{\"isExpression\":true,\"value\":\"(new Date(new Date().getTime()+(3*24*60*60*1000))).toISOString()\"},\"frequency\":3,\"notification\":\"requestReminder\"}}},\"approvalMode\":\"any\"},{\"name\":\"scriptTask-0359a9d77ee2\",\"displayName\":\"Create User\",\"type\":\"scriptTask\",\"scriptTask\":{\"nextStep\":[{\"condition\":\"true\",\"outcome\":\"done\",\"step\":null}],\"language\":\"javascript\",\"script\":\"logger.info(\\\"Creating User\\\");\\n\\nvar content = execution.getVariables();\\nvar requestId = content.get('id');\\nvar failureReason = null;\\n\\ntry {\\n  var requestObj = openidm.action('iga/governance/requests/' + requestId, 'GET', {}, {});\\n}\\ncatch (e) {\\n  failureReason = \\\"Creating User: Error reading request with id \\\" + requestId;\\n}\\n\\nif(!failureReason) {\\n  try {\\n    var payload = requestObj.request.user.object;\\n\\n    /** Create new user **/\\n    var result = [...]
